/* scss modules for newwworld site */
.btn {
  display: inline-block;
  border-radius: 20px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  border-width: 0rem;
  transition: all 0.15s ease-in-out;
  color: #0e1318;
  background-image: linear-gradient(135deg, #22da4a, #77f993, #22da4a 105%);
  box-shadow: 2px 2px 3px rgba(34, 218, 74, 0.16);
  padding: clamp(0.45rem, 0.3515923567rem + 0.2388535032vw, 0.6rem) clamp(1rem, 0.7375796178rem + 0.6369426752vw, 1.4rem);
}
.btn:hover {
  color: #ffffff;
  background-image: linear-gradient(135deg, #22c144, #77f392, #22c144 105%);
}
.btn:active, .btn:focus {
  box-shadow: 0 0 0 3pt rgba(34, 218, 74, 0.45);
}
.btn.primary {
  color: #0e1318;
  background-image: linear-gradient(135deg, #da4a22, #ff7650, #da4a22 105%);
  box-shadow: 2px 2px 3px rgba(218, 74, 34, 0.16);
  padding: clamp(0.45rem, 0.3515923567rem + 0.2388535032vw, 0.6rem) clamp(1rem, 0.7375796178rem + 0.6369426752vw, 1.4rem);
}
.btn.primary:hover {
  color: #ffffff;
  background-image: linear-gradient(135deg, #c14422, #f97550, #c14422 105%);
}
.btn.primary:active, .btn.primary:focus {
  box-shadow: 0 0 0 3pt rgba(218, 74, 34, 0.45);
}
.btn.secondary {
  color: #0e1318;
  background-image: linear-gradient(135deg, #22b2da, #afe2ec, #22b2da 105%);
  box-shadow: 2px 2px 3px rgba(34, 178, 218, 0.16);
  padding: clamp(0.45rem, 0.3515923567rem + 0.2388535032vw, 0.6rem) clamp(1rem, 0.7375796178rem + 0.6369426752vw, 1.4rem);
}
.btn.secondary:hover {
  color: #ffffff;
  background-image: linear-gradient(135deg, #229ec1, #afdde6, #229ec1 105%);
}
.btn.secondary:active, .btn.secondary:focus {
  box-shadow: 0 0 0 3pt rgba(34, 178, 218, 0.45);
}

nav#nav-web {
  box-shadow: 5px 0px 15px rgba(175, 226, 236, 0.6);
}

nav#nav-web::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -3;
  backdrop-filter: blur(1rem);
  -ms-backdrop-filter: blur(1rem);
  -o-backdrop-filter: blur(1rem);
  -moz-backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  background-color: rgba(238, 249, 252, 0.6);
}

.logo {
  flex: 1 35%;
}
@media only screen and (max-width: 1036px) {
  .logo {
    flex: 0.1;
  }
}
.logo img {
  width: 5.535vw;
  min-width: 70px;
  max-width: 86px;
  padding: clamp(0.0615rem, 0.0355816993rem + 0.0629084967vw, 0.1rem);
}
.logo a {
  display: block;
  font-family: none;
  font-weight: none;
  font-size: none;
}

.nav-links {
  list-style: none;
}
.nav-links li a {
  color: #0e1318;
}
.nav-links li:not(:nth-child(1)) a:hover {
  color: #da4a22;
}
.nav-links li:not(:nth-child(1)) a::after {
  transition: all ease-in-out 0.15s;
}
.nav-links li:not(:nth-child(1)) a {
  padding: 0.5rem;
}
.nav-links li:not(:nth-child(1)) a::after, .nav-links li:not(:nth-child(1)) a::before {
  display: block;
  position: relative;
  content: "";
  top: 5px;
  left: -4px;
  width: 0%;
  height: 2px;
}
.nav-links li:not(:nth-child(1)):hover a::after {
  width: 100%;
  background-color: #da4a22;
}

/*# sourceMappingURL=modules.css.map */
