/* import other css files */
@import './variables.css';
@import './general-styles.css';

/* main css for buttons used in newworld website */

/* primary-button */
.btn-p, .btn-cta {

    display: inline-block; 
    padding: var(--btn-normal);
    border-radius: var(--corner-normal);
    font-family: var(--roboto-condensed);
    font-size: var(--fnt-btn-normal);
    font-weight: var(--bold);
    color: var(--text-color);
    border-width: 0em;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-p {
    
    background-image: var(--grad-btn-p);
    box-shadow: var(--shadow-btn-p);
}

.btn-cta {
    
    background-image: var(--grad-btn-cta);
    box-shadow: var(--shadow-btn-cta);
}

/* hover-state */
.btn-cta:hover, .btn-p:hover {
    color: var(--color-t)
}
.btn-p:hover {
    background-image: var(--grad-btn-p-hover);
}
.btn-cta:hover {
    background-image: var(--grad-btn-cta-hover);
}

/* shadows */
.btn-p.lg, .btn-p.xl {
    box-shadow: var(--shadow-btn-p-lg);

}
.btn-cta.lg, .btn-cta.xl {
    box-shadow: var(--shadow-btn-cta-lg);

}       

/* click states */
.btn-p:active, .btn-p:focus {   
    box-shadow: var(--shadow-active-btn-p);
    background-image: var(--grad-btn-p-hover);
}
.btn-p:active, .btn-cta:focus {   
    box-shadow: var(--shadow-active-btn-p);
    background-image: var(--grad-btn-p-hover);
}
.btn-cta:active, .btn-cta:focus {   
    box-shadow: var(--shadow-active-btn-cta);
    background-image: var(--grad-btn-cta-hover);
}

.btn-p.lg:active, .btn-p.xl:active {
    box-shadow: var(--shadow-active-btn-p);
    background-image: var(--grad-btn-p-hover);
}

.btn-cta.lg:active, .btn-cta.xl:active {
    box-shadow: var(--shadow-active-btn-cta);   
    background-image: var(--grad-btn-cta-hover);
}

.btn-cta:active,  .btn-cta:focus, .btn-p:active, .btn-p:focus {
    color: var(--color-t);  
    outline: none; 
}
p span.txt-color-cta, p span.txt-color-p, p span.txt-color-s, p span.txt-color-t, a span {
    text-shadow: none;
}


/* button sizes */
.sm {
    
    padding: var(--btn-sm);
    font-size: var(--fnt-btn-sm);
    border-radius: var(--corner-normal);
}

.lg {
    
    padding: var(--btn-lg); 
    font-size: var(--fnt-btn-lg);
    border-radius: var(--corner-lg);
}

.xl {

    padding: var(--btn-xl);
    font-size: var(--fnt-btn-xl);
    border-radius: var(--corner-xl);
}








