 
/* global variables */
* {

    /* font-size */
    font-size: normal; 
    padding: 0px;
    margin: 0px;

}


/* all css for tweeking the legacy css attributes */

/* standard */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


 /* Tekst transform */

    /* uppercase */
    .to-upper {
        text-transform: uppercase;
    }
    
    /* lowercase */
    .to-lower {
        text-transform: lowercase;
    }

    /* capitalize */
    .capitalize { 
        text-transform: capitalize;
    }

    /* span tag */
    span {
        
        /* as child of text element */
        box-sizing: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        text-shadow: inherit;

    }