/* global variables */
*, *::before, *::after {

    padding: 0px;
    margin: 0px;
}


/* all css settings for legacy css attributes */
.logo img{

    height: 8.5rem;
    padding: var(--padding-sm);
}

/* standard */
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: black;
    text-decoration: none;
}


 /* Tekst transform */

    /* uppercase */
    .to-upper {
        text-transform: uppercase;
    }
    
    /* lowercase */
    .to-lower {
        text-transform: lowercase;
    }

    /* capitalize */
    .capitalize { 
        text-transform: capitalize;
    }

    /* span tag */
    span {
        
        /* as child of text element */
        box-sizing: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        text-shadow: inherit;

    }
/* colors */
.color-p {}

/* background settings for hero section */
.background {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* overlay settings */
.overlay {

    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    opacity: var(--opacity-normal);
    background-color: var(--color-cta-lighter);
    z-index: -1;
}

.img-blur {

    filter: blur(0.3rem) brightness(45%);
    -webkit-filter: blur(0.3rem) brightness(45%);
}