/* import css files */
@import './general-styles.css';
@import './variables.css'; 

/* headers  web*/
h1, h2, h3, h4, h5, h6, p, li, form {

    font-family: var(--roboto-condensed);
    font-weight: var(--regular);
    margin: 0px 0px;

}


h2, h3, h4, h5, h6 {

    /* letter-spacing: 0.0625rem; 
    line-height: 0.9375rem; */
    text-shadow: var(--shadow-text-sm);
}

h1 {

    font-size: min(var(--fnt-head-h1-nm), var(--fnt-head-h1-sm));   
    text-shadow: var(--shadow-text); 

}

h2 {

    font-size: minmax(var(--fnt-head-h2-nm), var(--fnt-head-h1-nm));
}

h3 {
    
    font-size: minmax(var(--fnt-head-h3-nm), var(--fnt-head-h2-nm));
}

h4 {
    
    font-size: minmax(var(--fnt-head-h4-nm), var(--fnt-head-h3-nm));
    
}

h5 {
    
    font-size: minmax(var(--fnt-head-h5-nm), var(--fnt-head-h4-nm));

}

h6 {
    
    font-size: minmax(var(--fnt-head-h6-nm), var(--fnt-head-h5-nm));
    
}


p, ul, li, i, form {

    font-size: min(var(--fnt-normal), var(--fnt-sm));
}

p { 
    padding-left: 0.25rem;
    line-height: 3rem;
}

/* normal state */
a {

    font-size: min(var(--fnt-normal), var(--fnt-sm));
    color: var(--color-cta);
    transition: color ease-in-out .15s;
}
p a {
    font-size: inherit;
}

/* hover states */
a:hover {
    color: var(--color-p-light)
}

a:active, a:focus {

    outline: none; 
    color: var(--color-p)
}

/* text-colors-with shadows */
.txt-color-p {
    color: var(--color-p);
    text-shadow: var(--shadow-text-p);
}

.txt-color-p.txt-shadow-sm {
    color: var(--color-p);
    text-shadow: var(--shadow-text-p-sm);
}

.txt-color-cta {
    color: var(--color-cta);
    text-shadow: var(--shadow-text-cta);
}

.txt-color-cta.txt-shadow-sm {
    color: var(--color-cta);
    text-shadow: var(--shadow-text-cta-sm);
}

.txt-color-s {
    color: var(--color-s);
    text-shadow: var(--shadow-text-s)
}

.txt-color-s.txt-shadow-sm {
    color: var(--color-s);
    text-shadow: var(--shadow-text-s-sm)
}

.txt-color-t {
    color: var(--color-t);
    text-shadow: var(--shadow-text-t);
}

.txt-color-t.txt-shadow-sm {
    color: var(--color-t);
    text-shadow: var(--shadow-text-t-sm);
}

/* letter styles mobile */
@media only screen and (max-width: 415px) {
    
    /* make letters styles dynamic */
    

}
