/* headers  web*/
h1, h2, h3, h4, h5, h6, p, li, form {

    font-family: var(--roboto-condensed);
    font-weight: var(--regular);
    margin: 0px 0px;

}


h1, h2, h3, h4, h5, h6 {

    letter-spacing: 0.0625rem;
    
}

h1 {

    font-size: ;   
}

h2 {

    font-size: ;
}

h3 {
    
    font-size: ;
}

h4 {
    
    font-size: ;
    
}

h5 {
    
    font-size: ;

}

h6 {
    
    font-size: ;
    
}


p, ul, li, i, a, form {

    font-size: clamp(calc(var(--p-min) * 1rem), var(--p-preff), calc(var(--p-max) * 1rem));
}

p { 
    padding-left: 0.25rem;
    line-height: 3rem;
}

/* normal state */
a {

    color: var(--color-cta);
    transition: color ease-in-out .15s;
}

p a {
    font-size: inherit;
}

/* hover states */
a:hover {
    color: var(--color-p-light)
}

a:active, a:focus {
    outline: none; 
    color: var(--color-p)
}

/* text-colors */ 
.txt-color-p {
    color: var(--color-p);
}

.txt-color-p {
    color: var(--color-p);
}

.txt-color-cta {
    color: var(--color-cta);
}


.txt-color-s {
    color: var(--color-s);
}


.txt-color-t {
    color: var(--color-t);
}

    /* text-shadows */
    .txt-shadow-dark-sm {
        text-shadow: var(--shdw-txt-dark-sm);
    }

    .txt-shadow-dark-nm {
        text-shadow: var(--shdw-txt-dark-nm);
    }

    .txt-shadow-dark-lg {
        text-shadow: var(--shdw-txt-dark-lg);
    }
    .txt-shadow-light-sm {
        text-shadow: var(--shdw-txt-light-sm);
    }

    .txt-shadow-light-nm {
        text-shadow: var(--shdw-txt-light-nm);
    }

    .txt-shadow-light-lg {
        text-shadow: var(--shdw-txt-light-lg);
    }



