/* main css styling for the new world website */

/* css modules/libraries */

@import './variables.css';
@import './general-styles.css';
@import './button-styles.css';
@import './icons.css';
@import './letter-styles.css';
@import './forms.css';

/* navigation */

nav, .nav-bar {
    display: grid;
    grid-template-columns: [left] 14rem [middle] auto [right] 14rem;
    align-items: center;
    position: fixed;
    top: 0;
    
    background-color: var(--color-cta-lighter-op-normal);
    width: 100vw;
}

nav .wrapper{
    grid-column: middle / right;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}
.logo {
}

.nav-links {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto; 
    align-items: center;

}
ul li, .nav-links li {
    display: inline;
    text-align: right;  
}









