@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, *, *::before, *::after {
  padding: 0px;
  margin: 0px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  font-size: inherit;
  color: #0e1318;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #0e1318;
  text-decoration: none;
}
a:active {
  color: #0e1318;
}

a {
  color: #22da4a;
  transition: color ease-in-out 0.15s;
}
a:hover {
  color: #a4f1b5;
}
a:active, a:focus {
  outline: none;
  color: #228e39;
}
a.primary {
  color: #b44222;
}
a.primary:hover {
  color: #f1b5a4;
}
a.primary:active, a.primary:focus {
  outline: none;
  color: #8e3922;
}
a.secondary {
  color: #22b2da;
}
a.secondary:hover {
  color: #a4e0f1;
}
a.secondary:active, a.secondary:focus {
  outline: none;
  color: #22768e;
}
a.tertiary {
  color: #ffffff;
}
a.tertiary:hover {
  color: white;
}
a.tertiary:active, a.tertiary:focus {
  outline: none;
  color: #c4c4c4;
}
a.text {
  color: #0e1318;
}
a.text:hover {
  color: #466079;
}
a.text:active, a.text:focus {
  outline: none;
  color: #0d0d0d;
}

h1, h2, h3, h4, h5, h6, p, li, form, a, span {
  font-family: "Roboto Condensed";
  font-weight: 400;
}
h1.to-upper, h2.to-upper, h3.to-upper, h4.to-upper, h5.to-upper, h6.to-upper, p.to-upper, li.to-upper, form.to-upper, a.to-upper, span.to-upper {
  text-transform: uppercase;
}
h1.to-lower, h2.to-lower, h3.to-lower, h4.to-lower, h5.to-lower, h6.to-lower, p.to-lower, li.to-lower, form.to-lower, a.to-lower, span.to-lower {
  text-transform: lowercase;
}
h1.capitalize, h2.capitalize, h3.capitalize, h4.capitalize, h5.capitalize, h6.capitalize, p.capitalize, li.capitalize, form.capitalize, a.capitalize, span.capitalize {
  text-transform: capitalize;
}

h1.paragraph, h2.paragraph, h3.paragraph, h4.paragraph, h5.paragraph, p.paragraph, li.paragraph, span.paragraph {
  font-family: "Roboto Slab";
}

h4, h5, h6 {
  font-style: italic;
  stroke-opacity: 0.75;
}

p, li, form {
  color: #0e1318;
}
p.primary, li.primary, form.primary {
  color: #da4a22;
}
p.secondary, li.secondary, form.secondary {
  color: #22b2da;
}
p.tertiary, li.tertiary, form.tertiary {
  color: #ffffff;
}
p.text-color, li.text-color, form.text-color {
  color: #0e1318;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}
h1.primary, h2.primary, h3.primary, h4.primary, h5.primary, h6.primary {
  color: #da4a22;
}
h1.secondary, h2.secondary, h3.secondary, h4.secondary, h5.secondary, h6.secondary {
  color: #22b2da;
}
h1.text, h2.text, h3.text, h4.text, h5.text, h6.text {
  color: #0e1318;
}

i, a i, li a i {
  color: #da4a22;
}
i:hover, a i:hover, li a i:hover {
  color: #f1b5a4;
}
i:active, i:focus, a i:active, a i:focus, li a i:active, li a i:focus {
  outline: none;
  color: #8e3922;
}

.shadow {
  text-shadow: 0.5px 0.5px 1.5px #0e1318;
}
.shadow.s-primary {
  text-shadow: 0.5px 0.5px 1.5px #da4a22;
}
.shadow.s-secondary {
  text-shadow: 0.5px 0.5px 1.5px #22b2da;
}
.shadow.s-tertiary {
  text-shadow: 0.5px 0.5px 1.5px white;
}

p, a, li, form, i {
  font-size: clamp(1.585rem, 1.3225796178rem + 0.6369426752vw, 1.985rem);
}

h1 {
  font-size: clamp(2.5rem, 2.0407643312rem + 1.1146496815vw, 3.2rem);
}

h2 {
  font-size: clamp(2.1rem, 1.8375796178rem + 0.6369426752vw, 2.5rem);
}

h3 {
  font-size: clamp(1.9rem, 1.6703821656rem + 0.5573248408vw, 2.25rem);
}

h4 {
  font-size: clamp(1.75rem, 1.5203821656rem + 0.5573248408vw, 2.1rem);
}

h5 {
  font-size: clamp(1.45rem, 1.2859872611rem + 0.398089172vw, 1.7rem);
}

h6 {
  font-size: clamp(1.2rem, 0.9703821656rem + 0.5573248408vw, 1.55rem);
}
h6.caption {
  font-size: clamp(0.85rem, 0.7187898089rem + 0.3184713376vw, 1.05rem);
}

.bg {
  background-color: #22b2da;
}
.bg.primary {
  background-color: #da4a22;
}
.bg.tertiary {
  background-color: #ffffff;
}
.bg.text {
  background-color: #0e1318;
}

/*# sourceMappingURL=base.css.map */
