// scss code for flexbox layouts
// flex alignment

.l-flex{
    display: flex;
    &.inline {
        display: inline-flex;
        &.wrap {
            flex-wrap: wrap
        }
        &.wrap-rev{
            flex-wrap: wrap-reverse;
        }
        &.items-align-left{
            align-items: left;
        }
        &.items-align-right{
            align-items: right;
        }
        &.items-align-center{
            align-items: center;
        }
        &.items-align-baseline{
            align-items: baseline;
        }
        &.items-justify-left{
            justify-content: flex-start;
        }
        &.items-justify-right{
            justify-content: flex-end;
        }
        &.items-justify-center{
            justify-content: center;
        }
        &.items-justify-evenly{
            justify-content: space-evenly;
        }
        
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.wrap-rev{
        flex-wrap: wrap-reverse;
    }
    &.items-align-left{
        align-items: flex-start;
    }
    &.items-align-right{
        align-items: flex-end;
    }
    &.items-align-center{
        align-items: center;
    }
    &.items-align-baseline{
        align-items: baseline;
    }
    &.items-align-stretch{
        align-items: stretch;
    }
    &.content-justify-left{
        justify-content: flex-start;
    }
    &.content-justify-right{
        justify-content: flex-end;
    }
    &.content-justify-center{
        justify-content: center;
    }
    &.content-justify-evenly{
        justify-content: space-evenly;
    }

}

.l-flex.col{
    display: flex;
    flex-direction: column;
    &.inline {
        display: inline-flex;
        &.wrap {
            flex-wrap: wrap;
        }
        &.wrap-rev{
            flex-wrap: wrap-reverse;
        }
        &.items-align-left{
            align-items: flex-start;
        }
        &.items-align-right{
            align-items: flex-end;
        }
        &.items-align-center{
            align-items: center;
        }
        &.items-align-baseline{
            align-items: baseline;
        }
        &.items-align-auto{
            align-items: auto;
        }
        &.items-justify-left{
            justify-content: flex-start;
        }
        &.items-justify-right{
            justify-content: flex-end;
        }
        &.items-justify-center{
            justify-content: center;
        }
        &.items-justify-evenly{
            justify-content: space-evenly;
        }
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.wrap-rev{
        flex-wrap: wrap-reverse;
    }
    &.items-align-left{
        align-items: flex-start;
    }
    &.items-align-right{
        align-items: flex-end;
    }
    &.items-align-center{
        align-items: center;
    }
    &.items-align-baseline{
        align-items: baseline;
    }
    &.items-align-stretch{
        align-items: stretch;
    }
    &.content-align-left{
        align-content: flex-start;
    }
    &.content-align-right{
        align-items: flex-end;
    }
    &.content-align-center{
        align-content: center;
    }
    // &.content-align-baseline{ // not fully supported yet
    //     align-content: baseline;
    // }
    &.content-align-stretch{
        align-content: stretch;
    }
    &.content-justify-left{
        justify-content: flex-start;
    }
    &.content-justify-right{
        justify-content: flex-end;
    }
    &.content-justify-center{
        justify-content: center;
    }
    &.content-justify-evenly{
        justify-content: space-evenly;
    }

}

.f-item {
    &.align-left{
        align-self: flex-start;
    }
    &.align-right{
        align-self: flex-end;
    }
    &.align-center{
        align-self: center;
    }
    &.align-baseline{
        align-self: baseline; 
    }
    &.align-stretch{
        align-self: stretch; 
    }
    &.align-auto{
        align-self: auto; 
    }
}
