// variables for the new world website
// sass imports
@use "sass:color";
@use "sass:list";
@use "sass:string";


// opacities
$opacityXs: -0.15;
$opacitySm: -0.25;
$opacityNm: -0.4;
$opacityLg: -0.55;
$opacityXl: -0.7;
$opacityXxl: -0.84;

// colors 

    // primary
    $primaryColor: #da4a22; 
    $primaryLight: #ff7650;
    $primaryLighter: #ffbdaa;

    // secondary
    $secondaryColor: #22b2da;
    $secondaryLight: #afe2ec;
    $secondaryLighter: #eef9fc;

    // call to action
    $ctaColor:#22da4a;  
    $ctaLight: #77f993;  
    $ctaLighter: #d1ffdb;  

    // tertiary
    $tertiaryColor: #ffffff;

    // text
    $textColor: #0e1318;

    // forms
    $placeholderColor: #b8b8b8;
    $textAreaColor: #eef9fc;

    // backgrounds
    $bgPrimary: $primaryColor;
    $bgSecondary: $secondaryColor;
    $bgCTA: $ctaColor;
    $bgWhite: $tertiaryColor;
    $bgDark: $textColor;


// fonts

    // font family 
    $roboto: 'Roboto';
    $robotoCon: 'Roboto Condensed';
    $robotoSlab: 'Roboto Slab';

    // font weights
    $regular: 400;
    $bold: 700;

// borders
$borderXs: 1px;
$borderSm: 2.5px;
$borderNm: 5px;
$borderLg: 10px;
$borderXl: 15px;

// corners
$cornerXxs: 5px;
$cornerXs: 10px;
$cornerSm: 15px;
$cornerNm: 20px;
$cornerLg: 25px;
$cornerXlg: 30px;
$cornerCircle: 100px;

// padding
$padding-sm: 0.875rem 1.125rem;
$padding: 1rem 1.25rem;
$padding-md: 1.125rem 1.375rem;
$padding-lg: 1.25rem 1.5rem;
$padding-xl: 1.375rem 1.6125rem;
