// variables for the new world website
// sass imports
@use "sass:color";
@use "sass:list";
@use "sass:string";

// opacities
$opacityNm: 0.16;
$opacityLg: 0.25;
$opacityXl: 0.3;
$opacityXxl: 0.3;

// colors 

    // primary
    $primaryColor: #da4a22; 
    $primaryLight: #ff7650;
    $primaryLighter: #ffbdaa;

    // secondary
    $secondaryColor: #22b2da;
    $secondaryLight: #afe2ec;
    $secondaryLighter: #eef9fc;

    // call to action
    $ctaColor:#22da4a;  
    $ctaLight: #77f993;  
    $ctaLighter: #d1ffdb;  

    // tertiary
    $tertiaryColor: #ffffff;

    // text
    $textColor: #0e1318;

    // forms
    $placeholderColor: #b8b8b8;
    $textAreaColor: #eef9fc;

// fonts

    // font family 
    $roboto: 'Roboto';
    $robotoCon: 'Roboto Condensed';
    $robotSlab: 'Roboto Slab';

    // font weights
    $regular: 400;
    $bold: 700;

// borders
$borderSm: 2.5px;
$borderNm: 5px;
$borderLg: 10px;
$borderXl: 15px;

// corners
$cornerSm: 15px;
$cornerNm: 20px;
$cornerXg: 22px;
$cornerXl: 22px;
$cornerCircle: 100px;

// padding
$padding-sm: 0.875rem 1.125rem;
$padding: 1rem 1.25rem;
$padding-md: 1.125rem 1.375rem;
$padding-lg: 1.25rem 1.5rem;
$padding-xl: 1.375rem 1.6125rem;
