// base styles for new world website 
@use 'variables' as v;
@use 'functions' as f;
@use 'sass:color';
@use 'mixins' as mix;



// modules
// for fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// html box-sizing etc 
html, *, *::before, *::after {
    padding: 0px;
    margin: 0px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}



// link styles
    
    // standard theme
    a {
        font-size: inherit;
        color: v.$textColor;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: v.$textColor;
            text-decoration: none;
        }
        &:active {
            color: v.$textColor;
        }
    }

    // website theme for links
    a {
        color: v.$ctaColor;
        transition: color ease-in-out .15s;
        // hover states
        &:hover {
            color: color.adjust(v.$ctaColor, $lightness: 30%);
        }
        &:active, &:focus {
            outline: none; 
            color: color.adjust(v.$ctaColor, $blackness: 30%);
        }
    }
    
// font styles

    // general
    h1, h2, h3, h4, h5, h6, p, li, form, a, span{
        font-family: v.$robotoCon;
        &.to-upper {
            text-transform: uppercase; 
        }
        &.to-lower {
            text-transform: lowercase; 
        }
        &.capitalize {
            text-transform: capitalize; 
        }
    }
    h1, h2, h3, h4, h5, p, li, span {
        &.paragraph {
            font-family: v.$robotoSlab;
        }
    }
    h1, h2, h3 {
        font-weight: v.$bold;
    }
    h4, h5, h6 {
        font-style: italic;
        stroke-opacity: v.$opacitySm;
    }

    // base colors
    p, li, form {
        color: v.$textColor;
        &.primary {
            color: v.$primaryColor;
        }
        &.secondary {
            color: v.$secondaryColor;
        }
        &.tertiary {
            color: v.$tertiaryColor;
        }
    }

    // sizing

        // generals
        p, a, li, form, i {
            font-size: f.fontDynSize(412, 1040, 15.85, 19.85);
        }
    
        // headings
        h1 {
            font-size: f.fontDynSize(412, 1040, 25, 32);
            color:v.$tertiaryColor;
        }   
        h2 {
            font-size: f.fontDynSize(412, 1040, 21, 25);
            color:v.$tertiaryColor;
        }   
        h3 {
            font-size: f.fontDynSize(412, 1040, 19, 22.5);
            color:v.$tertiaryColor;
        }
        h4 {
            font-size: f.fontDynSize(412, 1040, 17.5, 21);
            color:v.$tertiaryColor;
        }
        h5 {
            font-size: f.fontDynSize(412, 1040, 14.5, 17);
            color:v.$tertiaryColor;
        }
        h6 {
            font-size: f.fontDynSize(412, 1040, 12, 15.5);
            color:v.$tertiaryColor;
            &.caption{
                font-size: f.fontDynSize(412, 1040, 8.5, 10.5);
            }
        }
        
          

// background colors
