// base styles for new world website 
@use 'variables' as v;
@use 'functions' as f;
@use 'sass:color';
@use 'mixins' as mix;


// sass --watch static/scss/base.scss:static/css/0-base/base.css static/scss/modules.scss:static/css/2-modules/modules.css static/scss/layout.scss:static/css/1-layout/layout.css

// modules
// for fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// html box-sizing etc 
html, *, *::before, *::after {
    padding: 0px;
    margin: 0px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}



// link styles
    
    // standard theme
    a {
        font-size: inherit;
        color: v.$textColor;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: v.$textColor;
            text-decoration: none;
        }
        &:active {
            color: v.$textColor;
        }
    }

    // website theme for links
    a {
        color: v.$ctaColor;
        transition: color ease-in-out .15s;
        // hover states
        &:hover {
            color: color.adjust(v.$ctaColor, $lightness: 30%);
        }
        &:active, &:focus {
            outline: none; 
            color: color.adjust(v.$ctaColor, $blackness: 30%);
        }
        &.primary{ // with secondary background
            color: color.adjust(v.$primaryColor, $blackness: 15%);
            &:hover{
                color: color.adjust(v.$primaryColor, $lightness: 30%);
            }
            &:active, &:focus{
                outline: none; 
                color: color.adjust(v.$primaryColor, $blackness: 30%);
            }
        }
        &.secondary{
            color: v.$secondaryColor;
            &:hover{
                color: color.adjust(v.$secondaryColor, $lightness: 30%);
            }
            &:active, &:focus{
                outline: none; 
                color: color.adjust(v.$secondaryColor, $blackness: 30%);
            }
        }
        &.tertiary{
            color: v.$tertiaryColor;
            &:hover{
                color: color.adjust(v.$tertiaryColor, $lightness: 30%);
            }
            &:active, &:focus{
                outline: none; 
                color: color.adjust(v.$tertiaryColor, $blackness: 30%);
            }
        }
        &.text{
            color: v.$textColor;
            &:hover{
                color: color.adjust(v.$textColor, $lightness: 30%);
            }
            &:active, &:focus{
                outline: none; 
                color: color.adjust(v.$textColor, $blackness: 30%);
            }
        }
    }
    
// font styles

    // general
    h1, h2, h3, h4, h5, h6, p, li, input, textarea, a, span{
        
        font-family: v.$robotoCon;
        font-weight: v.$regular;
        &.to-upper {
            text-transform: uppercase; 
        }
        &.to-lower {
            text-transform: lowercase; 
        }
        &.capitalize {
            text-transform: capitalize; 
        }
    }
    
    h1, h2, h3, h4, h5, p, li, span {
        &.paragraph {
            font-family: v.$robotoSlab;
        }
    }

    h4, h5, h6 {
        font-style: italic;
        stroke-opacity: v.$opacitySm;
    }

// colors

    // base colors
    p, li, input, textarea {
        color: v.$textColor;
        &.primary {
            color: v.$primaryColor;
        }
        &.secondary {
            color: v.$secondaryColor;
        }
        &.tertiary {
            color: v.$tertiaryColor;
        }
        &.cta {
            color: v.$textColor;
        }
    }


    // headings
    h1, h2, h3, h4, h5, h6 {

        color: v.$tertiaryColor;
    
        &.primary{
            color: v.$primaryColor;
        }
        &.secondary{
            color: v.$secondaryColor;
        }
        &.text{
            color: v.$textColor;
        }
        &.cta{
            color: v.$ctaColor;
        }
    }
    
    
    // icons
    i, a i, li a i {
        color: v.$primaryColor;
        // hover and active states
        &:hover {
            color: color.adjust(v.$primaryColor, $lightness: 30%);
        }
        &:active, &:focus {
            outline: none; 
            color: color.adjust(v.$primaryColor, $blackness: 30%);
        }
    }
    
    // input 
    input, textarea {
        padding: 0.75rem 1rem;
        border-radius: v.$cornerXxs;
        border: solid v.$textColor v.$borderXs;
    }
    



    
// shadows
.shadow {

    @include mix.shadow("text-shadow", f.shadows('text-nm', v.$textColor, v.$opacityXl), none, none, none, none);
    
    &.s-primary {
        @include mix.shadow("text-shadow", f.shadows('text-nm', v.$primaryColor, v.$opacityXl), none, none, none, none);
    }
    &.s-secondary{
        @include mix.shadow("text-shadow", f.shadows('text-nm', v.$secondaryColor, v.$opacityXl), none, none, none, none);
    }
    &.s-tertiary{
        @include mix.shadow("text-shadow", f.shadows('text-nm', v.$tertiaryColor, v.$opacityXl), none, none, none, none);
    }
    &.s-cta{
        @include mix.shadow("text-shadow", f.shadows('text-nm', v.$ctaColor, v.$opacityXl), none, none, none, none);
    }
}
// sizing
// generals
    p, a, li, input, textarea, i, button {
        font-size: f.fontDynSize(412, 1040, 15.85, 19.85);
    }
    
    //headings
    h1 {
        font-size: f.fontDynSize(412, 1040, 28, 36);
    }   
    h2 {
        font-size: f.fontDynSize(412, 1040, 24, 27);
    }   
    h3 {
        font-size: f.fontDynSize(412, 1040, 19, 22.5);
    }
    h4 {
        font-size: f.fontDynSize(412, 1040, 17.5, 21);
    }
    h5 {
        font-size: f.fontDynSize(412, 1040, 14.5, 17);
    }
    h6 {
        font-size: f.fontDynSize(412, 1040, 12, 15.5);
        &.caption{
            font-size: f.fontDynSize(412, 1040, 8.5, 10.5);
        }
    }

// background colors
.bg {
    background-color: v.$secondaryColor;
    &.primary{
        background-color: v.$primaryColor;
    }
    &.tertiary{
        background-color: v.$tertiaryColor;
    }
    &.text{
        background-color: v.$textColor;
    }

}

