/* css module for layout of elements in newworld site */
// scss module for layout of elements in newworld site

// sass libs
@use 'sass:string';
@use 'sass:color';
@use 'sass:list';

// new world libs
@use 'variables' as v;
@use 'functions' as f;
@use 'mixins' as m;

/* import css modules */ 
@import "flexbox.css"; 
@import "grid.css"; 


/* navigation */
/* navigation web and mobile*/
nav {
    width: 100%;
}

#nav-web {
    position:  fixed;
    top: 0;
    left: 0;
    z-index: 999;

    // show nav-links for web and hide mobile top for web
    @include m.responsive(">", 612px){
        ul .nav-links {
            display: initial;
        }
        div .nav-links-mob-top {
            display: none;
        }
    }

    // hide nav-links for mobile
    @include m.responsive("<", 612px){
        .nav-links {
            display: none;
        }
        .nav-links-top {
            display: initial;
        }
    }
}

#nav-mobile, #nav-mobile-links {
    position: fixed;
    bottom: 0;
    left: 0;
    @include m.responsive("<", 613px){
        display: initial;
    }
    @include m.responsive(">", 613px){
        display: none; 
    }
}

nav#nav-web, main#main-content {
    
    // center wrapper and create gap on the cides of the wrapper
    .wrapper {
        width: 80%;
        margin: 0 auto;
        @include m.responsive("<", 1040px){
            width: 90%;
        }
    }

    // position logo section in navigation
    .logo {
        flex: 1 35%;
        @include m.responsive("<", 1040px){
            flex: 1 5%;
        }
      }

    // position nav-links in navigation web versition
    .nav-links {
        flex: 1 65%;

        // positiong mobile version
        @include m.responsive("<", 1040px){
            flex: 1 95%;
        }
    }

    // position nav-links mobile version top
    .nav-links-mob-top {
        flex: 1;
    }
}

nav#nav-mobile {

    z-index: 105;
    & .wrapper {
        width: 90%; 
        margin: 0 auto;
        padding: 1rem;
        
        & .social {
            flex: 30%;
        }
        
        & .hamburger {
            flex: 70%;
        }
    }
}

nav#nav-mobile-links {
    
    z-index: 95;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    & .nav-links-bottom, &::before {
        transform: translateY(28rem);
    }    
}



/* general */
main#main {
    width: 100vw; 
    $colors: color.adjust(v.$secondaryColor, $blackness: 10%), v.$secondaryColor, color.adjust(v.$secondaryColor, $lightness: 10%), color.adjust(v.$secondaryColor, $lightness: 20%);
    // background-image: f.gradient("linear", 135deg, $colors);
    
    section {
        width: 100%;

        // wrapper for all text-boxes in sections
        & .wrapper {
            position: inherit;
            width: 80%;
            height: inherit;
            margin: 0 auto;
            z-index: 11;           
            @include m.responsive('<', 1040px){
                width: 90%;
            }
            & .text-box {
                position: inherit;
                width: 100%;
                height: inherit;
                & header {
                    & h1 {
                        padding-bottom: 1rem;
                    }
                    @include m.responsive("<", 612px){
                        text-align: center;    
                    }       
                }
                & .body > * {
                    padding-bottom: 0.75rem;
                     
                }

            }
        }

        // index page elements
        &#index-hero { // index section
            position: relative;
            height: 100vh;
            z-index: inherit;
        }
        
        &#index-s-one { //section one
            
            & .shapes {
                position: absolute;
                width: 100%;

                & .folder { // folder shape
                    position: absolute;
                    z-index: 9;
                    left: 0;
                    transform: translateY(f.fontDynSize(1040, 612, -140 , -100));

                        & .fore, & .middle, & .back {
                            position: inherit;
                            width: 100vw;
                        }

                        & img.fore {
                            content: url("/static/images/home/svg_web/compressed/home_sh_s2_fg.svg"); 
                            transform: translateY(f.fontDynSize(1040, 612, -50, -35));
                            z-index: 7;
                        }

                        & img.middle {
                            content: url("/static/images/home/svg_web/compressed/home_sh_s2_mg.svg"); 
                            transform: translateY(f.fontDynSize(1040, 612, -50, -30));
                            z-index: 6;
                        }

                        & img.back {
                            content: url("/static/images/home/svg_web/compressed/home_sh_s2_bg.svg"); 
                            transform: translateY(f.fontDynSize(1040, 612, -100, -65));
                            z-index: 5;
                        }
                    
                }

                @include m.responsive("<", 612px){ // folder layout for mobile
                    & .folder {
                        transform: translateY(-14rem);
                        
                        & img.fore {
                            content: url("/static/images/home/svg_medium/compressed/index_medium_sh_s1_fore.svg"); 
                            transform: translateY(-2rem);
                            z-index: 7;
                        }
                        & img.middle {
                            content: url("/static/images/home/svg_medium/compressed/index_medium_sh_s1_middle.svg"); 
                            transform: translateY(-3rem);
                            z-index: 6;
                        }
                        & img.back {
                            content: url("/static/images/home/svg_medium/compressed/index_medium_sh_s1_back.svg"); 
                            transform: translateY(-6rem);
                            z-index: 5;
                        }
                    }
                }
                @include m.responsive("<", 412px){ // folder layout for mobile
                    & .folder {
                        transform: translateY(-14rem);
    
                        & .wrapper {
                            width: inherit;
                            position: absolute;
                            z-index: 8;
                            & .fore, & .middle, & .back {
                                position: inherit;
                                width: inherit;
                            }
                            & img.fore {
                                content: url("/static/images/home/svg_mobile/compressed/home_sh_s2_fg.svg"); 
                                transform: translateY(-2rem);
                                z-index: 7;
                            }
                            & img.middle {
                                content: url("/static/images/home/svg_mobile/compressed/home_sh_s2_mg.svg"); 
                                transform: translateY(-3rem);
                                z-index: 6;
                            }
                            & img.back {
                                content: url("/static/images/home/svg_mobile/compressed/home_sh_s2_bg.svg"); 
                                transform: translateY(-6rem);
                                z-index: 5;
                            }
                        }
                    }
                }

                & .circles { // layout for shapes 
                    position: absolute;
                    z-index: 9; 
                    width: 100%;
    
                    & .wrapper {
                        position: relative;
                        width: 80%;
                        height: 100%;
                        margin: 0 auto;
    
                        @include m.responsive('<', 1040px){
                            width: 90%;
                        }
                        & > div {
                            position: absolute;
                        }
                        & .circle:first-child { // circle top left
                            left: -5%;
                            top: 0%;
                            @include m.responsive("<", 1350px){
                                left: -10%;
                                top: -3%;
                            }
                            @include m.responsive("<", 612px){
                                transform: translate(f.fontDynSize(376, 612, -130, 0), f.fontDynSize(376, 612, -60, 0));
                            }
                        }
    
                        & .circle:nth-child(2) { // circle top right
                            right: 0%;
                            top: -8%;
                            @include m.responsive("<", 612px){
                                visibility: collapse;
                            }
                        }
    
                        & .circle:nth-child(3) { // circle bottom right
                            right: 0%;
                            top: 35rem;
                            transform: translateY(f.fontDynSize(612, 1350, -300, 0));
                            @include m.responsive("<", 612px){
                                visibility: collapse;
                            }  
                        }
    
                        & .circle:nth-child(4) { // circle bottom left
                            left: -13%;
                            top: 18rem;
                            @include m.responsive("<", 1350px){
                                visibility: collapse;
                            }                        
                        }                    
                    }
                }

            }

            & > div:nth-child(2) { // text-box wrapper
                position: relative;
                height: 100vh;
                z-index: 10;

                
                & .text-box { // text-box s-one
                    @include m.responsive("<", 1350px){
                        justify-content: right;
                        
                        @include m.responsive("<", 412px){
                            justify-content: center;
                            
                        }
                    }
                    @include m.responsive(">", 1351px){
                        justify-content: center;
                    }
                    
                    flex: 80%;
                    
                    & .body { 
                        width: 50%;
                        @include m.responsive("<", 613px){
                            align-items: center;
                        }
                    }
                    @include m.responsive("<", 1040px){
                        & .body { 
                            width: 100%;
                        }
                    }
                    & .body div > i {
                        padding-right: 1rem;
                    }
                    & .body > div:nth-child(5) {
                        margin-top: 3rem;
                    }
                    
                }

                & div.img-box-wrapper {
                    flex: 50%;
                    width: 90%;
                    margin: auto;
            
                    & .image-box {
                        position: absolute;
                        z-index:  9;
                        width: f.fontDynSize(375, 412, 250, 300);
                        height: f.fontDynSize(375, 412, 250, 300);
                        bottom: -5%;
                        transform: translateY(f.fontDynSize(375, 412, -130, 0));
                    }
                    @include m.responsive(">", 612px){
                        display: none;
                    }
                    @include m.responsive("<", 612px){
                        display: flex;
                    }
                }
            }
        }

        &#index-s-two { //section two
            height: 100vh;
        }
    }
    
    footer {
        width: 100%;
    }

}




