/* css module for layout of elements in newworld site */
// scss module for layout of elements in newworld site

// sass libs
@use 'sass:string';
@use 'sass:color';
@use 'sass:list';

// new world libs
@use 'variables' as v;
@use 'functions' as f;
@use 'mixins' as m;

/* import css modules */ 
@import "flexbox.css"; 
@import "grid.css"; 

/* general */
/* text alignment horizontal*/
.t-align {
    &.left {
        text-align: left; 
        text-align: start; 
    }
    &.right {
        text-align: right; 
        text-align: end; 
    }
    &.justify {
        text-align: justify; 
    }
    &.center {
        text-align: center; 
    }
    &.top {
        vertical-align: top; 
    }
    &.bottom {
        vertical-align: bottom; 
    }
    &.middle {
        vertical-align: middle; 
    }
    &.t-top {
        vertical-align: text-top; 
    }
    &.t-bottom {
        vertical-align: text-bottom; 
    }
    &.sub {
        vertical-align: sub; 
    }
    &.super {
        vertical-align: super; 
    }
}

/* navigation */
nav, main {
    width: 100vw;
}

#nav-web {
    position:  fixed;
    top: 0;
    left: 0;
    z-index: 999;

    // show nav-links for web and hide mobile top for web
    @include m.responsive(">", 576px){
        ul .nav-links {
            display: initial;
        }
        div .nav-links-mob-top {
            display: none;
        }
    }

    // hide nav-links for mobile
    @include m.responsive("<", 576px){
        .nav-links {
            display: none;
        }
        .nav-links-top {
            display: initial;
        }
    }
}

#nav-mobile, #nav-mobile-links {
    position: fixed;
    bottom: 0;
    left: 0;
    @include m.responsive("<", 576px){
        display: initial;
    }
    @include m.responsive(">", 576px){
        display: none; 
    }
}

nav#nav-web {
    
    // center wrapper and create gap on the sde of the wrapper
    .wrapper {
        width: 80%;
        margin: 0 auto;
        @include m.responsive("<", 1040px){
            width: 90%;
        }
    }

    // position logo section in navigation
    .logo {
        flex: 1 35%;
        @include m.responsive("<", 1040px){
            flex: 1 5%;
        }
      }

    // position nav-links in navigation web versition
    .nav-links {
        flex: 1 65%;
        text-align: center;

        // positiong mobile version
        @include m.responsive("<", 1040px){
            flex: 1 95%;
        }
    }

    // position nav-links mobile version top
    .nav-links-mob-top {
        flex: 1;
    }
}

nav#nav-mobile {
    z-index: 105;
    & .wrapper {
        width: 90%; 
        margin: 0 auto;
        padding: 1rem;
        
        & .social {
            flex: 30%;
        }
        
        & .hamburger {
            flex: 70%;
        }
    }
}

nav#nav-mobile-links {
    z-index: 95;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: collapse; 

    & .nav-links-bottom, &::before {
        visibility: initial; 
        transform: translateY(28rem);
    }    
}

// main content index page
main#main {
    $colors: color.adjust(v.$secondaryColor, $blackness: 10%), v.$secondaryColor, color.adjust(v.$secondaryColor, $lightness: 10%), color.adjust(v.$secondaryColor, $lightness: 20%);
    width: 100vw;

    // base layout for all sections
    section, footer {
        position: relative;
        width: 100%;
        .shapes {
            width: 100%;
        }
        // wrapper for all text-boxes in sections
        & > .wrapper {
            position: absolute;
            width: 80%;
            height: inherit;
            z-index: 11;           
            @include m.responsive('<', 1040px){
                width: 90%;
            }
            & .text-box {
                @include m.responsive("<", 576px){
                    text-align: center;    
                } 
                & header {
                    & h1 {
                        padding-bottom: 1rem;
                    }      
                }
                & .body > * {
                    padding-bottom: 0.75rem;       
                }
            }
        }
        .overlay {
            position: relative;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: inherit;
        }
    }

    // ----------------- index page  ---------------------- // 
    // index hero first section 
    & #index-hero { 
        height: 100vh;
    }

    // index section one teach in vietnam
    & #index-s-one {
        & .shapes {
            & .folder {
                width: 100%;
                position: absolute;
                z-index: 11;
                transform: translateY(-17rem);
                @include m.responsive("<", 576px){
                    transform: translateY(-10rem);
                }
                & object {
                    position: inherit; 
                }      
                & object.back {
                    transform: translateY(-5rem);      
                }
                & object.middle {
                    transform: translateY(-1rem);      
                } 
            }
            & .circles {
                position: relative;
                width: 80%;
                margin: 0px auto; 
                height: f.fontDynSize(769, 1350, 300, 850);
                z-index: 11;
                & > div {
                    position: absolute;
                    &:nth-child(1){ // top-left circle
                        top:23rem;
                        left: -6rem;
                        transform: translateY(f.fontDynSize(1040, 1350, -140, 0));
                        @include m.responsive("<", 1040px) {
                            top: 9rem;
                            left: -12rem;
                            transform: translateY(f.fontDynSize(768, 1040, -130, 0));
                        }
                        @include m.responsive("<", 576px) {
                            left: -9rem;
                        }
                    }
                    &:nth-child(2){ // top-right circle
                        top: 0;
                        right: 0;
                        @include m.responsive("<", 768px) {
                            visibility: collapse;
                        }
                    }
                    &:nth-child(3){ // bottom-right circle
                        bottom: 0rem;
                        right: 0;
                        transform: translateX(0rem) translateY(0rem);
                        @include m.responsive("<", 768px) {
                            bottom: -36rem;
                            right: -12rem;
                            transform: translateX(f.fontDynSize(577, 768, -120, 0)) translateY(f.fontDynSize(577, 768, -240, 0)); 
                        }
                        @include m.responsive("<", 576px){
                            visibility: collapse;
                        }

                    }
                } 
            }
        }
        & > div:nth-child(2){ // text-box wrapper
            height: 100%;
            & .text-box {
                width: 100%;
                height: 100%;
                justify-content: center;
                & .body {
                    @include m.responsive("<", 576px){
                        align-items: center;
                        justify-content: center;
                    }
                }
                & .body > div > i {
                    margin-right: 0.75rem;
                }
            }

            & .img-box-wrapper {
                @include m.responsive(">", 576px){ // show image at mobile screens 
                    display: none;
                }
                & .image-box {
                    height: f.fontDynSize(376, 576, 185, 300);
                    width: f.fontDynSize(376, 576, 185, 300);
                }
            }
        }
    }

    // index section two explore Vietnam
    & #index-s-two {
        height: 100vh;
        margin-top: 0rem;
        @include m.responsive(">and<", (1175px, 1405px)){
            margin-top: f.fontDynSize(1405, 1175, -50, 0);
        }
        @include m.responsive(">", 1405px){
            margin-top: f.fontDynSize(1405, 1500, 0, 90);
        }
        @include m.responsive("<", 768px){
            height: 125vh;
            margin-top: f.fontDynSize(577, 768, 180, 380);
        }
        @include m.responsive("<", 576px){
            margin-top: f.fontDynSize(376, 576, 70, 360);
        }
    }
    
    // index section three team
    & #index-s-three {
        height: 100vh;
        margin-top: -16rem;
        @include m.responsive("<", 768px){
            height: 50vh;
            margin-top: -20rem;
        }
        @include m.responsive("<", 412px){
            margin-top: -18rem;
        }
        & .shapes {
            z-index: 1;
            @include m.responsive("<", 576px){
                margin-top: f.fontDynSize(576, 375, 50, 0);
            }
            
        } 
        & div.wrapper {
            & > div.text-box {
                margin-top: f.fontDynSize(768, 1350, -160, 160);
                & header > .spacer.wider {
                    height: f.fontDynSize(769, 1350, 0, 20);
                    @include m.responsive("<", 768px){
                        height: f.fontDynSize(576, 768, 10, 40);
                    }
                    @include m.responsive("<", 576px){
                        height: f.fontDynSize(375, 576, 15, 40);
                    }
                }
                @include m.responsive("<", 768px){
                    align-self: flex-end;
                    transform: translateY(f.fontDynSize(576, 768, 245, 320));
                }
                @include m.responsive("<", 576px){
                    transform: translateY(f.fontDynSize(412, 576, 200, 320));
                }
                & div.body {
                    & > :nth-child(2) { // team members
                        & > .f-item {
                            flex: 1;
                            flex-basis: auto;
                            @include m.responsive("<", 768px){
                                flex: 1 50%;
                            }
                        }
                        // hide for mobile screen
                        @include m.responsive("<", 576px){
                            display: none;
                        }
                    }

                    // hide for bigger bigger screens
                    @include m.responsive(">", 576px){
                        // carousel
                        .carousel-wrapper.l-grid {
                            display: none;    
                        }
                    }


                }
                
            }  
        } 
    }

    // section four experience vietnam
    & #index-s-four {
        height: 125vh;
        margin-top: f.fontDynSize(769, 1536, -415, -100);
        @include m.responsive("<", 1080px){
            background-position: 70%;
        }
        @include m.responsive("<", 768px){
            height: 150vh;
            background-position: 85%;
            margin-top: f.fontDynSize(579, 768, 320, 530);
        }
        @include m.responsive("<", 576px){
            height: 125vh;
            margin-top: f.fontDynSize(412, 576, 120, 310);
        }
        & .wrapper .text-box header {
            margin-top: 10rem;
        }
    }

    // section five reviews and contact
    & #index-s-five {
        margin-top: -8rem;
        @include m.responsive("<", 576px){
            margin-bottom: f.fontDynSize(576, 375, -150, 50); 
        }
        & .wrapper {
            margin-top: f.fontDynSize(1370, 768, -100, 10);
            @include m.responsive("<", 768px){
                margin-top: f.fontDynSize(576, 768, 25, -100);
            }
            @include m.responsive("<", 576px){
                margin-top: f.fontDynSize(576, 375, -100, 50);
            }
            & .text-box.reviews-section {
                & header {
                    & .spacer {
                        height: 5rem; 
                        @include m.responsive("<", 1370px){
                            height: f.fontDynSize(768, 1370, 25, 75);
                        }
                        @include m.responsive("<", 768px){
                            height: f.fontDynSize(576, 768, 25, 50);
                        }
                        @include m.responsive("<", 576px){
                            height: f.fontDynSize(375, 576, 15, 40);
                        }   
                    }
                }
                & .body {
  
                    & > ul.reviews {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax((100%/3), 1fr));
                        justify-content: center; 
                        gap: 7.5rem 0; 
                        @include m.responsive("<", 1370px){
                            gap: f.fontDynSize(768, 1370, 25, 100) 0; 
                        }
                        @include m.responsive("<", 768px){
                            gap: f.fontDynSize(576, 768, 25, 100) 0; 
                        }
                        @include m.responsive("<", 576px){
                            display: none;
                        }
                    }

                    & > div.carousel-wrapper {
                            & .carousel {
                                height: 15%;
                            }
                        @include m.responsive(">", 576px){
                            display: none; 
                        }
                    } 
                } 
                
            }
            & .text-box.contact-section {
                margin-top: 10rem; 
                @include m.responsive("<", 1370px){
                    margin-top: f.fontDynSize(768, 1370, 25, 200);
                }
                @include m.responsive("<", 768px){
                    margin-top: f.fontDynSize(576, 768, 50, 100);
                }
                @include m.responsive("<", 576px){
                    margin-top: f.fontDynSize(375, 576, 150, 250);
                }
                width: 100%;
                & .body {
                    width: 100%;
                    margin-top: f.fontDynSize(765, 1080, 25, 65);
                    @include m.responsive("<", 768px){
                        margin-top: f.fontDynSize(576, 786, 25, 65);
                    }
                    @include m.responsive("<", 576px){
                        flex-direction: column;
                        margin-top: f.fontDynSize(375, 576, 15, 50);
                    }
                    & > div.map-wrapper.f-item {
                        flex: 60%;
                        width: 100%; 
                        & .map-box {
                            width: 80%;
                            & #g-map {
                                width: 100%;
                                height: 100%;
                                position: unset !important;
                            }
                            @include m.responsive("<", 768px){
                                width: 90%;
                            }
                        }
                        @include m.responsive("<", 576px){
                            flex: 100%;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: f.fontDynSize(375, 576, 25, 50); 
                        }
                    }   
                    & > form.f-item {
                        flex: 40%;
                        width: 100%;
                        & > * {
                            margin-bottom: f.fontDynSize(576, 1080, 10, 15);
                            ;
                        }
                        & input, textarea {
                            width: 85%;
                        }
                        & textarea {
                            height: 15vh;
                            resize: none; 
                        }
                        & > div.form-content {
                            width: 90%;
                            & > * {
                                margin-bottom: f.fontDynSize(576, 1080, 10, 15);
                            }
                            & div > i {
                                margin-left: 1rem;
                            }
                        }
                        @include m.responsive("<", 576px){
                            flex: 100%;
                        }
                    } 
                }
            }
        }
        
        
    }

    // -----------------  Gallery Page  ---------------------- // 
    & #gallery-s-gallery {
        & .wrapper {
            position: relative;
            padding: 5rem 0;
            & .f-item {
                flex: 1 30%;
                padding: 0rem 1rem;
                @include m.responsive("<", 768px){
                    flex: 1 50%; 
                }
                @include m.responsive("<", 576px){
                    flex: 1 100%; 
                }
                & a {
                    display: block;
                    width: 100%;
                    padding: 1rem 0rem; 
                    img {
                        width: 100%
                    }
                } 
            }
        }
    }
    // -----------------  About Page  ------------------------ // 

    // footer
    footer {
        
        margin-top: -8rem;
        @include m.responsive("<", 1080px){
            margin-top: -6rem; 
        }
        .shapes {
            margin-bottom: -1rem;
        }
        .wrapper {
            margin-top: 15rem;
            & > ul {
                padding-bottom: 7.5rem; 
            }
            & .social {
                & > li:nth-child(2) {
                    padding: 0 2.5rem;
                }
            }
            & .copyright {
                margin-top: 1rem;
            }   
            @include m.responsive("<", 1500px){
                margin-top: f.fontDynSize(1080, 1500, 80, 150);
                & > ul {
                    padding-bottom: f.fontDynSize(1080, 1500, 50, 75); 
                }
                & .copyright {
                    margin-top: -2rem;
                }   
            }
            @include m.responsive("<", 1080px){
                margin-top: f.fontDynSize(768, 1080, 60, 80);
                & > ul {
                    padding-bottom: f.fontDynSize(768, 1080, 30, 50); 
                }
                & .copyright {
                    margin-top: f.fontDynSize(1080, 768, -20, 0);
                } 
            }
            @include m.responsive("<", 768px){
                margin-top: f.fontDynSize(576, 768, 50, 60);
                & > ul {
                    padding-bottom: f.fontDynSize(576, 768, 15, 30); 
                }
                & .copyright {
                    margin-top: 0rem;
                } 
            }
        }
        @include m.responsive("<", 576px){
            display: none; 
        }
    }
}