/* css module for layout of elements in newworld site */
// scss module for layout of elements in newworld site

// sass libs
@use 'sass:string';
@use 'sass:color';
@use 'sass:list';

// new world libs
@use 'variables' as v;
@use 'functions' as f;
@use 'mixins' as m;

/* import css modules */ 
@import "flexbox.css"; 
@import "grid.css"; 


/* navigation */
/* navigation web and mobile*/
nav, main {
    width: 100vw;
}

#nav-web {
    position:  fixed;
    top: 0;
    left: 0;
    z-index: 999;

    // show nav-links for web and hide mobile top for web
    @include m.responsive(">", 612px){
        ul .nav-links {
            display: initial;
        }
        div .nav-links-mob-top {
            display: none;
        }
    }

    // hide nav-links for mobile
    @include m.responsive("<", 612px){
        .nav-links {
            display: none;
        }
        .nav-links-top {
            display: initial;
        }
    }
}

#nav-mobile, #nav-mobile-links {
    position: fixed;
    bottom: 0;
    left: 0;
    @include m.responsive("<", 613px){
        display: initial;
    }
    @include m.responsive(">", 613px){
        display: none; 
    }
}

nav#nav-web, main#main-content {
    
    // center wrapper and create gap on the cides of the wrapper
    .wrapper {
        width: 80%;
        margin: 0 auto;
        @include m.responsive("<", 1040px){
            width: 90%;
        }
    }

    // position logo section in navigation
    .logo {
        flex: 1 35%;
        @include m.responsive("<", 1040px){
            flex: 1 5%;
        }
      }

    // position nav-links in navigation web versition
    .nav-links {
        flex: 1 65%;
        text-align: center;

        // positiong mobile version
        @include m.responsive("<", 1040px){
            flex: 1 95%;
        }
    }

    // position nav-links mobile version top
    .nav-links-mob-top {
        flex: 1;
    }
}

nav#nav-mobile {

    z-index: 105;
    & .wrapper {
        width: 90%; 
        margin: 0 auto;
        padding: 1rem;
        
        & .social {
            flex: 30%;
        }
        
        & .hamburger {
            flex: 70%;
        }
    }
}

nav#nav-mobile-links {
    
    z-index: 95;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    & .nav-links-bottom, &::before {
        transform: translateY(28rem);
    }    
}



/* general */
main#main {
    $colors: color.adjust(v.$secondaryColor, $blackness: 10%), v.$secondaryColor, color.adjust(v.$secondaryColor, $lightness: 10%), color.adjust(v.$secondaryColor, $lightness: 20%);
    // background-image: f.gradient("linear", 135deg, $colors);
    
    section {
        width: 100%;

        // wrapper for all text-boxes in sections
        & > .wrapper {
            position: relative;
            width: 80%;
            height: inherit;
            margin: 0 auto;
            z-index: 11;           
            @include m.responsive('<', 1040px){
                width: 90%;
            }
            & .text-box {

                & header {
                    & h1 {
                        padding-bottom: 1rem;
                    }
                    @include m.responsive("<", 612px){
                        text-align: center;    
                    }       
                }
                & .body > * {
                    padding-bottom: 0.75rem;
                }

            }
        }

        // index page elements
        &#index-hero { // index section
            height: 100vh;
            z-index: inherit;
        }

        // index-s-one
        &#index-s-one {
            width: 100vw;
            height: 100vh;
            & .shapes {
                width: 100%;
                position: absolute;
                & .folder {
                    width: 100%;
                    position: absolute;
                    z-index: 11;
                    transform: translateY(-15rem);      
                    
                    & > div {
                        position: inherit;
                        width: 100%;
                        &.back {
                            transform: translateY(-5rem);      
                            & object {
                                content: url("/static/images/home/svg_web/compressed/home_sh_s2_bg.svg");
                                @include m.responsive("<", 768px){
                                    content: url("/static/images/home/svg_medium/compressed/index_medium_sh_s1_back.svg");
                                }
                                @include m.responsive("<", 576px){
                                    content: url("/static/images/home/svg_mobile/compressed/mobile_home_sh_s1_bg.svg");
                                }
                            }
                        }
                        &.middle {
                            transform: translateY(-1rem);      
                            & object {
                                content: url("/static/images/home/svg_web/compressed/home_sh_s2_mg.svg");
                                @include m.responsive("<", 768px){
                                    content: url("/static/images/home/svg_medium/compressed/index_medium_sh_s1_middle.svg");
                                }
                                @include m.responsive("<", 576px){
                                    content: url("/static/images/home/svg_mobile/compressed/mobile_home_sh_s1_mg.svg");
                                }
                            }
                        }
                        &.fore {
                            & object {
                                content: url("/static/images/home/svg_web/compressed/home_sh_s2_fg.svg");
                                @include m.responsive("<", 768px){
                                    content: url("/static/images/home/svg_medium/compressed/index_medium_sh_s1_fore.svg");
                                }
                                @include m.responsive("<", 576px){
                                    content: url("/static/images/home/svg_mobile/compressed/mobile_home_sh_s1_fg.svg");
                                }
                            }
                        }
                    } 
                }
                & .circles {
                    position: relative;
                    width: 80%;
                    margin: 0px auto; 
                    height: f.fontDynSize(769, 1350, 300, 850);
                    z-index: 11;

                    & > div {
                        position: absolute;
                        
                        &:nth-child(1){ // top-left circle
                            top:21rem;
                            left: -18rem;
                            @include m.responsive("<", 1350px) {
                                top:0rem;
                                left: -18rem;
                            }
                        }
                        &:nth-child(2){ // top-right circle
                            top: 0;
                            right: 0;
                        }
                        &:nth-child(3){ // bottom-right circle
                            bottom: 0rem;
                            right: 0;
                            transform: translateX(0rem) translateY(0rem);
                            @include m.responsive("<", 768px) {
                                bottom: -36rem;
                                right: -12rem;
                                transform: translateX(f.fontDynSize(577, 768, -120, 0)) translateY(f.fontDynSize(577, 768, -240, 0)); 
                            }
                            @include m.responsive("<", 576px){
                                visibility: collapse;
                            }

                        }
                    } 
                }
            }

            & > div:nth-child(2){ // text-box wrapper
                margin-top: f.fontDynSize(769, 1080, 0, 50);
                height: 100vh;

                & .text-box {
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    @include m.responsive("<", 1350px){
                        justify-content: flex-start;
                    }
                }
                & .img-box-wrapper {

                    @include m.responsive(">", 576px){ // show image at mobile screens 
                        visibility: collapse;
                    }
                    & .image-box {
                        height: f.fontDynSize(376, 576, 225, 300);
                        width: f.fontDynSize(376, 576, 225, 300);
                        transform: translateY(f.fontDynSize(376, 576, -220, 0)); 
                    }
                }
            }
        }

        // index-s-two
        &#index-s-two {
            height: 100vh;
            margin-top: f.fontDynSize(768, 1536, -320, 230);
            // transform: translateY(0rem);
            // position: relative;
            // top: 13rem;
            // transform: ;
        }
        

    }
    
    footer {
        width: 100%;
    }

}