/* scss modules for newwworld site */

// sass libs
@use 'sass:string';
@use 'sass:color';
@use 'sass:list';

// new world libs
@use 'variables' as v;
@use 'functions' as f;
@use 'mixins' as m;

// buttons
.btn {
    // general styling  
    display: inline-block;
    border-radius: v.$cornerNm;
    font-family: v.$robotoCon;
    font-weight: v.$bold;
    border-width: 0rem;
    transition: all .15s ease-in-out;
    color: v.$textColor;
    
    // create gradient color
    $gradColors: v.$ctaColor, v.$ctaLight, v.$ctaColor 105%;
    background-image: f.gradient('linear', 135deg, $gradColors);
    box-shadow: f.shadows("btn-sm", v.$ctaColor, v.$opacityXxl);
    padding: f.fontDynSize(612, 1040, 4.5, 6) f.fontDynSize(612, 1040, 10, 14);
    &:hover, {
        $gradColors: color.adjust(v.$ctaColor, $blackness: 10%), color.adjust(v.$ctaLight, $blackness: 2.5%), color.adjust(v.$ctaColor, $blackness: 10%) 105%;
        color: v.$tertiaryColor;
        background-image: f.gradient('linear', 135deg, $gradColors);
    }
    &:active, &:focus {
        box-shadow: f.shadows("btn-active", v.$ctaColor, v.$opacityLg);
        // outline: none;
    }
    &.primary{
        color: v.$textColor;

        // create gradient color
        $gradColors: v.$primaryColor, v.$primaryLight, v.$primaryColor 105%;
        background-image: f.gradient('linear', 135deg, $gradColors);
        box-shadow: f.shadows("btn-sm", v.$primaryColor, v.$opacityXxl);
        padding: f.fontDynSize(412, 1040, 4.5, 6) f.fontDynSize(412, 1040, 10, 14);
        &:hover, {
            $gradColors: color.adjust(v.$primaryColor, $blackness: 10%), color.adjust(v.$primaryLight, $blackness: 2.5%), color.adjust(v.$primaryColor, $blackness: 10%) 105%;
            color: v.$tertiaryColor;
            background-image: f.gradient('linear', 135deg, $gradColors);
        }
        &:active, &:focus {
            box-shadow: f.shadows("btn-active", v.$primaryColor, v.$opacityLg);
            // outline: none;
        }
    }
    &.secondary{
        color: v.$textColor;

        // create gradient color
        $gradColors: v.$secondaryColor, v.$secondaryLight, v.$secondaryColor 105%;
        background-image: f.gradient('linear', 135deg, $gradColors);
        box-shadow: f.shadows("btn-sm", v.$secondaryColor, v.$opacityXxl);
        padding: f.fontDynSize(412, 1040, 4.5, 6) f.fontDynSize(412, 1040, 10, 14);
        &:hover, {
            $gradColors: color.adjust(v.$secondaryColor, $blackness: 10%), color.adjust(v.$secondaryLight, $blackness: 2.5%), color.adjust(v.$secondaryColor, $blackness: 10%) 105%;
            color: v.$tertiaryColor;
            background-image: f.gradient('linear', 135deg, $gradColors);
        }
        &:active, &:focus {
            box-shadow: f.shadows("btn-active", v.$secondaryColor, v.$opacityLg);
            // outline: none;
        }
    }
}

// navigation menu
nav#nav-web{
    box-shadow: 5px 0px 5px color.adjust(v.$secondaryColor, $blackness: 30%, $alpha: v.$opacityXl);
}


// blur effect for navigation top and bottom
nav#nav-web::before, nav#nav-mobile::before, nav#nav-mobile-links::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -3;
    @include m.compatible(backdrop-filter, blur(1rem));
    background-color: color.adjust(v.$secondaryLighter, $alpha: v.$opacityNm);
}

// nav items and logo web
.logo {

    flex: 1 35%;
    @include m.responsive("<", 1036px){
        flex: 0.1;
    }
    img {
        width: 5.535vw;
        min-width: 70px;
        max-width: 86px;
        padding: f.fontDynSize(412, 1024, 0.615, 1);
    }
    a {
        display: block;
        font-family: none;
        font-weight: none;
        font-size: none;
    }
}

.nav-links {

    // nav-items
    list-style: none;
    & li a {
        color: v.$textColor;
    } 
    & li:not(:nth-child(1)) a:hover {
        color: v.$primaryColor;
    }   

    & li:not(:nth-child(1)) a::after {
        transition: all ease-in-out 0.15s;
    }
    & li:not(:nth-child(1)) a {
        padding: 0.5rem;
    }
    & li:not(:nth-child(1)) a::after, li:not(:nth-child(1)) a::before {
        display: block;
        position: relative;
        content: '';
        top: 5px;
        left: -4px;
        width: 0%;
        height: 2px;
    }
    & li:not(:nth-child(1)):hover a::after {
        width: 100%;
        background-color: v.$primaryColor;
    }
}

// mobile navigation bottom
nav#nav-mobile {

    box-shadow: -5px 0px 5px color.adjust(v.$secondaryColor, $blackness: 30%, $alpha: v.$opacityXl);
    transition: all 0.33s ease-in-out;
    transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);

    // socials
    .social {
        list-style: none;
    }

    // hamburger
    // hamburger animate burger
    .burger {
        width: 3.5rem;
        height: 3.5rem;
        border: 0.1rem solid v.$textColor;
        cursor: pointer;
        transition: all .33s ease-in-out;
        &.animate-burger-border {
            border-color: v.$primaryColor;
        }
        .burger-top, .burger-bottom, .burger-middle {
            width: 65%;
            height: 0.25rem;
            transition: all 0.33s ease-in-out;
            transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
            border-radius: 5rem;
            position: relative;

        }
        .burger-top {
            background-color: v.$ctaColor;
            transform: translateY(1rem);

            &.animate-top{
                transform: translateY(0.125rem) rotate(135deg);
            }
        }
        .burger-middle {
            background-color: v.$secondaryColor;

            &.hide {
                opacity: 0;
                display: none;
            }
        }
        .burger-bottom {
            background-color: v.$primaryColor;
            transform: translateY(-1rem);
            &.animate-bottom{
                transform: translateY(-0.125rem) rotate(45deg);
            }

        }

    }
}

// nav links bottom
nav#nav-mobile-links {

    .nav-links-bottom {
            list-style: none;
            opacity: 0;
            transition: all 0.33s ease-in-out;
            transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
            & li {
                text-align: center;

                & a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    padding: 1rem 0;
                    color: v.$textColor;

                    &:hover {
                        background-color: color.adjust(v.$ctaColor, $blackness: 15%, $alpha: v.$opacityXl);
                        color: color.adjust(v.$primaryColor, $blackness: 15%);
                    }
                    &:active {
                        box-shadow: 1.5px 1.5px 3px color.adjust(v.$secondaryColor, $blackness: 15%, $alpha: v.$opacityXl);
                        background-color: color.adjust(v.$ctaColor, $blackness: 15%, $alpha: v.$opacityXxl);
                    }
                }   
            }
            &.animate {
                opacity: 1;
                transform: translateY(-5.5rem);
            }
            
        }
    &::before {
        transition: all 0.33s ease-in-out;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
    }
}

// index page

// hero section
    // background
    #index-hero {
        @include m.background(initial, "/static/images/home/jpeg_web/compressed/teach_2.jpg", center, cover);

        @include m.responsive("<", 412px){
            @include m.background(initial, "/static/images/home/jpeg_mobile/teach_2.jpg", center, cover);
        }

        // darken image 
        &::after {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            content: '';
            width: inherit;
            height: inherit;
            background-color: color.adjust(v.$primaryColor, $alpha: v.$opacityXl, $blackness: 70%);
            backdrop-filter: blur(0.325rem);
            z-index: 0;
        }

    }

    // text box
    .text-box {
        position: relative;
        z-index: 1;

        // align header text to center on mobile
        & header {
            @include m.responsive("<", 412px){
                text-align: center;    
            }
        }
    }

    // arrows and hover animation
    .arrows {
        transform: translateY(3rem);
        overflow-wrap: break-word;
        transition: all 0.33s ease-in-out;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
        a img {
            width: f.fontDynSize(412, 1040, 50, 60);
            @include m.shadow("drop-shadow", none, 7px, 5px, 3px, v.$textColor);
            @include m.responsive("<", 412px){    
                @include m.shadow("drop-shadow", none, 4px, 4px, 3px, v.$textColor);
            }
        }
        & .upper-arrow {
            transform: translateY(0rem);
        }  
        & .lower-arrow {
            transform: translateY(-1rem);
            transition: all 0.33s ease-in-out;
            transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
        }
        &:hover {
            transform: translateY(5rem);
            & .lower-arrow {
                transform: translateY(1rem);
            }
        } 
    } 