/* scss modules for newwworld site */

// sass libs
@use 'sass:string';
@use 'sass:color';
@use 'sass:list';

// new world libs
@use 'variables' as v;
@use 'functions' as f;
@use 'mixins' as m;

// buttons
.btn {
    // general styling  
    display: inline-block;
    border-radius: v.$cornerNm;
    font-family: v.$robotoCon;
    font-weight: v.$bold;
    border-width: 0rem;
    transition: all .15s ease-in-out;
    color: v.$textColor;
    
    // create gradient color
    $gradColors: v.$ctaColor, v.$ctaLight, v.$ctaColor 105%;
    background-image: f.gradient('linear', 135deg, $gradColors);
    box-shadow: f.shadows("btn-sm", v.$ctaColor, v.$opacityXxl);
    padding: f.fontDynSize(576, 1040, 4.5, 6) f.fontDynSize(576, 1040, 10, 14);

    &:hover, {
        $gradColors: color.adjust(v.$ctaColor, $blackness: 10%), color.adjust(v.$ctaLight, $blackness: 2.5%), color.adjust(v.$ctaColor, $blackness: 10%) 105%;
        color: v.$tertiaryColor;
        background-image: f.gradient('linear', 135deg, $gradColors);
    }
    &:active, &:focus {
        box-shadow: f.shadows("btn-active", v.$ctaColor, v.$opacityLg);
        // outline: none;
    }
    &.primary{
        color: v.$textColor;

        // create gradient color
        $gradColors: v.$primaryColor, v.$primaryLight, v.$primaryColor 105%;
        background-image: f.gradient('linear', 135deg, $gradColors);
        box-shadow: f.shadows("btn-sm", v.$primaryColor, v.$opacityXxl);

        &:hover, {
            $gradColors: color.adjust(v.$primaryColor, $blackness: 10%), color.adjust(v.$primaryLight, $blackness: 2.5%), color.adjust(v.$primaryColor, $blackness: 10%) 105%;
            color: v.$tertiaryColor;
            background-image: f.gradient('linear', 135deg, $gradColors);
        }
        &:active, &:focus {
            box-shadow: f.shadows("btn-active", v.$primaryColor, v.$opacityLg);
            // outline: none;
        }
    }
    &.secondary{
        color: v.$textColor;
        // create gradient color
        $gradColors: v.$secondaryColor, v.$secondaryLight, v.$secondaryColor 105%;
        background-image: f.gradient('linear', 135deg, $gradColors);
        box-shadow: f.shadows("btn-sm", v.$secondaryColor, v.$opacityXxl);

        &:hover, {
            $gradColors: color.adjust(v.$secondaryColor, $blackness: 10%), color.adjust(v.$secondaryLight, $blackness: 2.5%), color.adjust(v.$secondaryColor, $blackness: 10%) 105%;
            color: v.$tertiaryColor;
            background-image: f.gradient('linear', 135deg, $gradColors);
        }
        &:active, &:focus {
            box-shadow: f.shadows("btn-active", v.$secondaryColor, v.$opacityLg);
            // outline: none;
        }
    }
    &.small{
        font-size: f.fontDynSize(412, 1040, (15.85/1.618), (19.85/1.618));
        padding: f.fontDynSize(614, 1040, (4.5/1.618), (6/1.618)) f.fontDynSize(614, 1040, (10/1.618), (14/1.618));
        border-radius: v.$cornerSm;

    }
    &.large{
        font-size: f.fontDynSize(412, 1040, (15.85*1.618), (19.85*1.618));
        padding: f.fontDynSize(614, 1040, (4.5*1.618), (6*1.618)) f.fontDynSize(614, 1040, (10*1.618), (14*1.618));
        border-radius: v.$cornerXlg;

    }
    &.x-large{
        font-size: f.fontDynSize(412, 1040, (15.85*1.618*1.618), (19.85*1.618*1.618));
        padding: f.fontDynSize(614, 1040, (4.5*1.618*1.618), (6*1.618*1.618)) f.fontDynSize(614, 1040, (10*1.618*1.618), (14*1.618*1.618));
    }
}

// carousel
.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    margin: auto;
    
    /* render nested items properly in 3D space. */
    .carousel {
        @include m.compatible(transform-style, preserve-3d);
    }
    & .carousel-btn--next,& .carousel-btn--prev {
        position: absolute;
        top: 50%;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        z-index: 600;
    }

    & .carousel-btn--next {
        right: 0;
    }
    & .carousel-btn--prev {
        left: 0;
    }

  }
  


// other elements 
// create circular shapes on the site
.shapes {
    .circle {
        border-radius: 50%;
        $colors: color.adjust(v.$primaryColor, $lightness: 10%, $hue: 5deg) 5%, color.adjust(v.$primaryColor, $lightness: 5%, $hue: 0deg), color.adjust(v.$primaryColor, $lightness: -5%, $hue: -5deg);
        background-image: f.gradient("linear", 45deg, $colors);

        &.xs {
            width: (11.82rem / 1.618); 
            height: (11.82rem / 1.618); 
        } 
        &.sm {
            width: 11.82rem; 
            height: 11.82rem; 
        } 
        &.nm {
            width: (11.82rem * 1.618); 
            height: (11.82rem * 1.618); 
        } 
        &.lg {
            width: (11.82rem * 1.618 * 1.618); 
            height: (11.82rem * 1.618 * 1.618); 
        } 
        &.xl {
            width: f.fontDynSize(650, 1350, 200, (118.2 * 1.618 * 1.618 * 1.618)); 
            height: f.fontDynSize(650, 1350, 200, (118.2 * 1.618 * 1.618 * 1.618)); 
        } 
        &.xxl {
            width: (11.82rem * 1.618 * 1.618 * 1.618 * 1.618); 
            height: (11.82rem * 1.618 * 1.618 * 1.618 * 1.618); 
        } 
        &.secondary {
            $colors: color.adjust(v.$secondaryColor, $lightness: 25%, $hue: -10deg) 5%, color.adjust(v.$secondaryColor, $lightness: 10%, $hue: -5deg), color.adjust(v.$secondaryColor, $lightness: -5%, $hue: 5deg);
            background-image: f.gradient("linear", 45deg, $colors);
        }
    }
}

// svg-images (for all svg images)
.svg-image {
    width: 100%;
}
.shadow-fg {
    @include m.compatible(filter, drop-shadow(f.shadows("figure-nm", v.$textColor, v.$opacityLg)));
    &.primary {
        @include m.compatible(filter, drop-shadow(f.shadows("figure-nm", v.$primaryColor, v.$opacityLg)));
    }
    &.secondary {
        @include m.compatible(filter, drop-shadow(f.shadows("figure-nm", v.$secondaryColor, v.$opacityLg)));
    }
    &.cta {
        @include m.compatible(filter, drop-shadow(f.shadows("figure-nm", v.$ctaColor, v.$opacityLg)));
    }

    &.sm {
        @include m.compatible(filter, drop-shadow(f.shadows("figure-sm", v.$textColor, v.$opacityLg)));
        .primary {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-sm", v.$primaryColor, v.$opacityLg)));
        }
        .secondary {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-sm", v.$secondaryColor, v.$opacityLg)));
        }
        .cta {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-sm", v.$secondaryColor, v.$opacityLg)));
        }
    }
    &.lg {
        @include m.compatible(filter, drop-shadow(f.shadows("figure-lg", v.$textColor, v.$opacityLg)));
        .primary {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-lg", v.$primaryColor, v.$opacityLg)));
        }
        .secondary {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-lg", v.$secondaryColor, v.$opacityLg)));
        }
        .cta {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-lg", v.$secondaryColor, v.$opacityLg)));
        }
    }
}

#svg-images {
    & .border {
        fill: v.$ctaColor;
    }
    &.carousel-arrows {
        & .fill {
            fill: v.$primaryColor;
        }
    }
}

// div-shapes for mugshots
div.mugshot {
    border-radius: v.$cornerCircle;
    height: f.fontDynSize(768, 1920, 120, 150); 
    width: f.fontDynSize(768, 1920, 120, 150);
    border: solid v.$ctaColor 0.5rem;
    @include m.responsive("<", 576px){
        height: f.fontDynSize(412, 576, 100, 135); 
        width: f.fontDynSize(412, 576, 100, 135);
        border: solid v.$ctaColor f.fontDynSize(412, 1920, 3.75, 5);
    }
}
// navigation menu
nav#nav-web{
    box-shadow: 5px 0px 5px color.adjust(v.$secondaryColor, $blackness: 30%, $alpha: v.$opacityXl);
}

// blur effect for navigation top and bottom
nav#nav-web::before, nav#nav-mobile::before, nav#nav-mobile-links::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -3;
    @include m.compatible(backdrop-filter, blur(1rem));
    background-color: color.adjust(v.$secondaryLighter, $alpha: v.$opacityNm);
}

// nav items and logo web
.logo {
    flex: 1 35%;
    @include m.responsive("<", 1036px){
        flex: 0.1;
    }
    img {
        width: 5.535vw;
        min-width: 70px;
        max-width: 86px;
        padding: f.fontDynSize(412, 1024, 0.615, 1);
    }
    a {
        display: block;
        font-family: none;
        font-weight: none;
        font-size: none;
    }
}

.nav-links {
    // nav-items
    list-style: none;
    & li a {
        color: v.$textColor;
    } 
    & li:not(:nth-child(1)) a:hover {
        color: v.$primaryColor;
    }   

    & li:not(:nth-child(1)) a::after {
        transition: all ease-in-out 0.15s;
    }
    & li:not(:nth-child(1)) a {
        padding: 0.5rem;
    }
    & li:not(:nth-child(1)) a::after, li:not(:nth-child(1)) a::before {
        display: block;
        position: relative;
        content: '';
        top: 5px;
        width: 0%;
        height: 2px;
    }
    & li:not(:nth-child(1)):hover a::after {
        width: 100%;
        background-color: v.$primaryColor;
    }
}

// mobile navigation bottom
nav#nav-mobile {
    box-shadow: -5px 0px 5px color.adjust(v.$secondaryColor, $blackness: 30%, $alpha: v.$opacityXl);
    transition: all 0.33s ease-in-out;
    transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);

    // socials
    .social {
        list-style: none;
    }

    // hamburger
    // hamburger animate burger
    .burger {
        width: 3.5rem;
        height: 3.5rem;
        border: 0.1rem solid v.$textColor;
        cursor: pointer;
        transition: all .33s ease-in-out;
        &.animate-burger-border {
            border-color: v.$primaryColor;
        }
        .burger-top, .burger-bottom, .burger-middle {
            width: 65%;
            height: 0.25rem;
            transition: all 0.33s ease-in-out;
            transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
            border-radius: 5rem;
            position: relative;

        }
        .burger-top {
            background-color: v.$ctaColor;
            transform: translateY(1rem);

            &.animate-top{
                transform: translateY(0.125rem) rotate(135deg);
            }
        }
        .burger-middle {
            background-color: v.$secondaryColor;

            &.hide {
                opacity: 0;
                display: none;
            }
        }
        .burger-bottom {
            background-color: v.$primaryColor;
            transform: translateY(-1rem);
            &.animate-bottom{
                transform: translateY(-0.125rem) rotate(45deg);
            }
        }
    }
}

// nav links bottom
nav#nav-mobile-links {
    .nav-links-bottom {
        list-style: none;
        opacity: 0;
        transition: all 0.33s ease-in-out;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
        & li {
            text-align: center;

            & a {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 1rem 0;
                color: v.$textColor;

                &:hover {
                    background-color: color.adjust(v.$ctaColor, $blackness: 15%, $alpha: v.$opacityXl);
                    color: color.adjust(v.$primaryColor, $blackness: 15%);
                }
                &:active {
                    box-shadow: 1.5px 1.5px 3px color.adjust(v.$secondaryColor, $blackness: 15%, $alpha: v.$opacityXl);
                    background-color: color.adjust(v.$ctaColor, $blackness: 15%, $alpha: v.$opacityXxl);
                }
            }   
        }
        &.animate {
            opacity: 1;
            transform: translateY(-5.5rem);
        }
    }
    &::before {
        transition: all 0.33s ease-in-out;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
    }
}

// section overlays
section .overlay {
    background-color: color.adjust(v.$primaryColor, $alpha: v.$opacityXl, $blackness: 75%);
    backdrop-filter: blur(0.125rem);
}

// --------------------  index page -------------------------------

// ------- hero section ---------------    
#index-hero { // background
    @include m.background(initial, "/static/images/home/jpeg_web/compressed/teach_2.jpg", center, cover);
    @include m.responsive("<", 412px){
        @include m.background(initial, "/static/images/home/jpeg_mobile/teach_2.jpg", center, cover);
    }
}
    // arrows and hover animation
    .arrows {
        transform: translateY(2rem);
        overflow-wrap: break-word;
        transition: all 0.33s ease-in-out;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
        a img {
            width: f.fontDynSize(412, 1040, 35, 50);
            @include m.shadow("drop-shadow", none, 7px, 5px, 3px, v.$textColor);
            @include m.responsive("<", 412px){    
            @include m.shadow("drop-shadow", none, 4px, 4px, 3px, v.$textColor);
            }
        }
        & .upper-arrow {
            transform: translateY(0rem);
        }  
        & .lower-arrow {
            transform: translateY(-1rem);
            transition: all 0.33s ease-in-out;
            transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
        }
        &:hover {
            transform: translateY(5rem);
            & .lower-arrow {
                transform: translateY(1rem);
            }
        } 
    }

// ----------- section s one -----------------
#index-s-one {
    & .shapes {    
        
        // folder shape inject images
        & .folder {
            & object.back {

                content: url("/static/images/home/svg_web/compressed/home_sh_s2_bg.svg");
                @include m.responsive("<", 768px){
                    content: url("/static/images/home/svg_medium/compressed/index_medium_sh_s1_back.svg");
                }
                @include m.responsive("<", 576px){
                    content: url("/static/images/home/svg_mobile/compressed/mobile_home_sh_s1_bg.svg");
                }
            }
            & object.middle {

                content: url("/static/images/home/svg_web/compressed/home_sh_s2_mg.svg");
                @include m.responsive("<", 768px){
                    content: url("/static/images/home/svg_medium/compressed/index_medium_sh_s1_middle.svg");
                }
                @include m.responsive("<", 576px){
                    content: url("/static/images/home/svg_mobile/compressed/mobile_home_sh_s1_mg.svg");
                }
            }
            & object.fore {
                content: url("/static/images/home/svg_web/compressed/home_sh_s2_fg.svg");
                @include m.responsive("<", 768px){
                    content: url("/static/images/home/svg_medium/compressed/index_medium_sh_s1_fore.svg");
                }
                @include m.responsive("<", 576px){
                    content: url("/static/images/home/svg_mobile/compressed/mobile_home_sh_s1_fg.svg");
                }
            }
        }

        // circles 
        & .circles {
            & > .circle {
                &:nth-child(3){ // big circle with image   
                    @include m.background(initial, "/static/images/home/jpeg_web/compressed/teach_6.jpg", center, cover);
                    border: solid v.$borderNm v.$primaryColor;
                    @include m.compatible(filter, drop-shadow(f.shadows("figure-nm", v.$textColor, v.$opacityLg)));
                    @include m.responsive("<", 768px) {
                        width: f.fontDynSize(576, 768, 200, (118.2 * 1.618 * 1.618 * 1.618)); 
                        height: f.fontDynSize(576, 768, 200, (118.2 * 1.618 * 1.618 * 1.618));
                    }
                }
        
                &:nth-child(1){ // top-right circle
                    @include m.responsive("<", 1350px){ // make circle big at smaller screen sizes
                        width: (11.82rem * 1.618 * 1.618); 
                        height: (11.82rem * 1.618 * 1.618); 
                    }
                }
            }
        }
    }
}


// ------------ section s two ---------------- 
#index-s-two {
    @include m.background(initial, "/static/images/home/jpeg_web/compressed/travel_5.jpg", center, cover);
    @include m.responsive("<", 412px){
        @include m.background(initial, "/static/images/home/jpeg_mobile/travel_2.jpg", center, cover);
    }
}

// ------------- section s three ------------
section#index-s-three {
    
    //shapes
    & .shapes {
        & object.index-s-three-sh-1 {
            content: url("/static/images/home/svg_web/compressed/home_sh_s3.svg");
            @include m.responsive("<", 768px){
                content: url("/static/images/home/svg_medium/compressed/index_medium_sh_s3.svg");
            }
            @include m.responsive("<", 412px){
                content: url("/static/images/home/svg_mobile/compressed/mobile_index_s3_sh_412px.svg");
            }
        }
    } 
    // some textbox
    & div.text-box {
        width: 100%;
        & > div.body {
            ul.team-members {
                display: block; 
                list-style: none;
                & > li.member {
                    display: inherit;
                    padding-bottom: f.fontDynSize(375, 576, 25, 50);
                    & > a {
                        width: 100%;
                        & h4.title {
                            padding: 1rem 0 0 0;
                        }
                    }
                    &:nth-child(1) > a div.mugshot { // director
                        @include m.background(initial, "/static/images/home/pngs/team/compressed/hong.png", center, cover);
                    }
                    &:nth-child(2) > a div.mugshot { // managing director
                        @include m.background(initial, "/static/images/home/pngs/team/compressed/ly.png", center, cover);
                    }
                    &:nth-child(3) > a div.mugshot { // marketing
                        @include m.background(initial, "/static/images/home/pngs/team/compressed/eva.png", center, cover);
                    }
                    &:nth-child(4) > a div.mugshot { // IT
                        @include m.background(initial, "/static/images/home/pngs/team/compressed/fernando.png", center, cover);
                    }
                }
            }
        }
    }
}

// ------------ section s four ---------------- 
#index-s-four {
    @include m.background(initial, "/static/images/home/jpeg_web/compressed/experience_4.jpg", center, cover);
    @include m.responsive("<", 412px){
        @include m.background(initial, "/static/images/home/jpeg_mobile/experience_4.jpg", center, cover);
    }

}

// ----------- section s five -----------------
#index-s-five {
    & .shapes {
        // shapes    
        & object.index-s-five-sh-1 {
            width: 100%;
            content: url("/static/images/home/svg_web/compressed/home_sh_s5.svg");
            @include m.responsive("<", 1440px){
                content: url("/static/images/home/svg_web/compressed/index_normal_s5_sh_1440px.svg");
            }
            @include m.responsive("<", 768px){
                content: url("/static/images/home/svg_medium/compressed/index_medium_s5_sh.svg");
            }
            @include m.responsive("<", 576px){
                content: url("/static/images/home/svg_mobile/compressed/mobile_home_sh_s5.svg");
            }
        }
    }

    & .wrapper {
        height: 100%;
        .text-box {
            &.reviews-section{
                & .body {
                    width: 100%;    
                    & ul.reviews {
                        list-style: none;
                        & li > a {
                            z-index: 15;
                            position: relative;
                            display: grid;
                            justify-items: center;
                            width: 100%;
                            height: 100%;
                            & > div.mugshot {
                                z-index: inherit;
                            }

                            & .hover-box {
                                visibility: collapse; 
                                position: absolute;
                                opacity: 0;
                                top: 50%;
                                left: 0;
                                height: 0%;
                                
                                transition: opacity 0.33s ease-in;
                                & blockquote {
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    height: 35vh;
                                    padding: 9rem 2rem 2rem 2rem;
                                    background-color: v.$secondaryLighter;
                                    border-radius: v.$cornerNm;
                                    overflow-y: scroll;
                                    -ms-overflow-style: none;
                                    scrollbar-width: none;
                                    i, p {
                                        font-size: f.fontDynSize(412, 1040, 11.85, 15.85);
                                        color: color.adjust(v.$textColor, $lightness: 30%); 
                                    }
                                    // hide scrollbar
                                    &::-webkit-scrollbar {
                                        display: none;
                                    }
                                }
                            }
                            &:hover .hover-box {
                                visibility: initial;
                                opacity: 1;
                            }

                        }
                        & li:first-child a { // Anne
                            & > div.mugshot { 
                                @include m.background(initial, "/static/images/home/pngs/reviews/compressed/anne.png", center, cover);
                            }
                            & .hover-box {
                                z-index: 14;
                            }
                            

                        }   
                        & li:nth-child(2) a { // Tobi
                            & > div.mugshot { 
                                @include m.background(initial, "/static/images/home/pngs/reviews/compressed/tobias.png", center, cover);
                            }
                            & .hover-box {
                                z-index: 14;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 14;
                                
                                & .hover-box {
                                    z-index: 13;
                                }
                            }
                        }   
                        & li:nth-child(3) a { // Eva
                            & > div.mugshot { 
                                @include m.background(initial, "/static/images/home/pngs/reviews/compressed/eva.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 13;
                                
                                & .hover-box {
                                    z-index: 12;
                                }
                            }
                            @include m.responsive("<", 412px){
                                z-index: 12;

                                & .hover-box {
                                    z-index: 11;
                                }
                            }
                        }   
                        & li:nth-child(4) a { // Dani
                            z-index: 13;
                            & > div.mugshot { 
                                @include m.background(initial, "/static/images/home/pngs/reviews/compressed/daniella.png", center, cover);
                            }
                            @include m.responsive("<", 412px){
                                z-index: 11;

                                & .hover-box {
                                    z-index: 10;
                                }
                            }

                        }   
                        & li:nth-child(5) a { // Chuck
                            z-index: 13;
                            & > div.mugshot { 
                            @include m.background(initial, "/static/images/home/pngs/reviews/compressed/chuck.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 12;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 10;

                                & .hover-box {
                                    z-index: 9;
                                }
                            }
                        }   
                        & li:nth-child(6) a { // Johana
                            z-index: 13;
                            & > div.mugshot { 
                            @include m.background(initial, "/static/images/home/pngs/reviews/compressed/johana.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 12;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 9;

                                & .hover-box {
                                    z-index: 8;
                                }
                            }
                        }   
                        & li:nth-child(7) a { // Karen
                            z-index: 12;
                            & > div.mugshot { 
                            @include m.background(initial, "/static/images/home/pngs/reviews/compressed/karen.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 11;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 8;

                                & .hover-box {
                                    z-index: 7;
                                }
                            }
                        }   
                        & li:nth-child(8) a { // Marion
                            z-index: 12;
                            & > div.mugshot { 
                            @include m.background(initial, "/static/images/home/pngs/reviews/compressed/marion.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 11;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 7;

                                & .hover-box {
                                    z-index: 6;
                                }
                            }
                        }   
                        & li:nth-child(9) a { // Oksana
                            z-index: 12;
                            & > div.mugshot { 
                            @include m.background(initial, "/static/images/home/pngs/reviews/compressed/oksana.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 10;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 6;

                                & .hover-box {
                                    z-index: 5;
                                }
                            }
                        }   
                    }
                }
            }
            &.contact-section{
            }
        }
    }
}

// ---------- footer -----------
footer {
        .sha{
            width: 100%;
            object {
                content: url("/static/images/general/svg/compressed/footer_sh.svg"); 
            }

        }
}