/* scss modules for newwworld site */

// sass libs
@use 'sass:string';
@use 'sass:color';
@use 'sass:list';

// new world libs
@use 'variables' as v;
@use 'functions' as f;
@use 'mixins' as m;

// buttons
.btn {
    // general styling  
    display: inline-block;
    border-radius: v.$cornerNm;
    font-family: v.$robotoCon;
    font-weight: v.$bold;
    border-width: 0rem;
    transition: all .15s ease-in-out;
    color: v.$textColor;
    
    // create gradient color
    $gradColors: v.$ctaColor, v.$ctaLight, v.$ctaColor 105%;
    background-image: f.gradient('linear', 135deg, $gradColors);
    box-shadow: f.shadows("btn-sm", v.$ctaColor, v.$opacityXxl);
    padding: f.fontDynSize(576, 1040, 4.5, 6) f.fontDynSize(576, 1040, 10, 14);

    &:hover, {
        $gradColors: color.adjust(v.$ctaColor, $blackness: 10%), color.adjust(v.$ctaLight, $blackness: 2.5%), color.adjust(v.$ctaColor, $blackness: 10%) 105%;
        color: v.$tertiaryColor;
        background-image: f.gradient('linear', 135deg, $gradColors);
    }
    &:active, &:focus {
        box-shadow: f.shadows("btn-active", v.$ctaColor, v.$opacityLg);
        // outline: none;
    }
    &.primary {
        color: v.$textColor;

        // create gradient color
        $gradColors: v.$primaryColor, v.$primaryLight, v.$primaryColor 105%;
        background-image: f.gradient('linear', 135deg, $gradColors);
        box-shadow: f.shadows("btn-sm", v.$primaryColor, v.$opacityXxl);

        &:hover, {
            $gradColors: color.adjust(v.$primaryColor, $blackness: 10%), color.adjust(v.$primaryLight, $blackness: 2.5%), color.adjust(v.$primaryColor, $blackness: 10%) 105%;
            color: v.$tertiaryColor;
            background-image: f.gradient('linear', 135deg, $gradColors);
        }
        &:active, &:focus {
            box-shadow: f.shadows("btn-active", v.$primaryColor, v.$opacityLg);
            // outline: none;
        }
    }
    &.secondary {
        color: v.$textColor;
        // create gradient color
        $gradColors: v.$secondaryColor, v.$secondaryLight, v.$secondaryColor 105%;
        background-image: f.gradient('linear', 135deg, $gradColors);
        box-shadow: f.shadows("btn-sm", v.$secondaryColor, v.$opacityXxl);

        &:hover, {
            $gradColors: color.adjust(v.$secondaryColor, $blackness: 10%), color.adjust(v.$secondaryLight, $blackness: 2.5%), color.adjust(v.$secondaryColor, $blackness: 10%) 105%;
            color: v.$tertiaryColor;
            background-image: f.gradient('linear', 135deg, $gradColors);
        }
        &:active, &:focus {
            box-shadow: f.shadows("btn-active", v.$secondaryColor, v.$opacityLg);
            // outline: none;
        }
    }
    &.small {
        font-size: f.fontDynSize(412, 1040, (15.85/1.618), (19.85/1.618));
        padding: f.fontDynSize(614, 1040, (4.5/1.618), (6/1.618)) f.fontDynSize(614, 1040, (10/1.618), (14/1.618));
        border-radius: v.$cornerSm;

    }
    &.large {
        font-size: f.fontDynSize(412, 1040, (15.85*1.618), (19.85*1.618));
        padding: f.fontDynSize(614, 1040, (4.5*1.618), (6*1.618)) f.fontDynSize(614, 1040, (10*1.618), (14*1.618));
        border-radius: v.$cornerXlg;

    }
    &.x-large {
        font-size: f.fontDynSize(412, 1040, (15.85*1.618*1.618), (19.85*1.618*1.618));
        padding: f.fontDynSize(614, 1040, (4.5*1.618*1.618), (6*1.618*1.618)) f.fontDynSize(614, 1040, (10*1.618*1.618), (14*1.618*1.618));
    }
}

// carousel
.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    
    /* render nested items properly in 3D space. */
    .carousel {
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: 500;
        @include m.compatible(transform-style, preserve-3d);
        & .carousel-photo {
            opacity: 0;
            position: absolute;
            top: 0;
            z-index: 100;
            transition: transform .5s, opacity .5s, z-index .5s, visibility .5s;

            &.next, &.prev {
                z-index: 800;
            }
            &.prev {
                transform: translateX(-125%);
                visibility: hidden;
            }
            &.next {
                transform: translateX(125%);
                visibility: hidden; 
            }
            &.initial, &.active {
                opacity: 1;
                z-index: 900;
                visibility: initial;
            }
        } 
        & .carousel-btn--next,& .carousel-btn--prev {
            display: block;
            position: absolute;
            top: 33%;
            height: 3rem;
            width: 3rem;
            z-index: 901;
            cursor: pointer;
            
        }
        & .carousel-btn--next::after, & .carousel-btn--prev::after {
            position: absolute;
            top: 50%;
            content: "";
            width: 15px;
            height: 15px;
            border-right: 2px solid v.$primaryColor;
            border-bottom: 2px solid v.$primaryColor;
            transform: translate(-50%, -50%) rotate(135deg);
            @include m.shadow("drop-shadow", none, 1.5px, 1.5px, 3px, color.adjust(v.$primaryColor, $alpha: v.$opacityXxl))
        }

        & .carousel-btn--next {
            right: 5%;
            transform: rotate(180deg);
        }
        & .carousel-btn--prev {
            left: 5%;
        }
    }
}
  
// other elements 
//loader
.loader-wrapper {
    height: 100vh;
    width: 100vw;
    opacity: 1; 
    position: absolute; 
    top: 0;
    left: 0;
    $colors: v.$secondaryLight, color.adjust(v.$secondaryColor, $lightness: 25%, $hue: 0.5deg);
    background-image: f.gradient("linear", 135deg, $colors);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: collapse, opacity, 1.5s ease-in-out; 
    & .loader {
        text-align: center;
        vertical-align: middle;
        position: relative;
        display: flex;
        padding: 150px;

        & span {
            display: block;
            width: 20px;
            height: 20px;
            background: #eee;
            border-radius: 50%;
            margin: 0 5px;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
            &:nth-child(2) {
                background: v.$primaryColor;
            }
            &:nth-child(3) {
                background: v.$secondaryColor;
            }
            &:nth-child(4) {
                background: v.$ctaColor;
            }
            &:not(:last-child){
                animation: loader-move-right 0.75s ease-in-out infinite;
            }
            &:last-child {
                animation: loader-jump 0.75s ease-in-out infinite;
            }
        }
    }

    &.deactivate {
        opacity: 0; 
        visibility: collapse;
    }
}
@keyframes loader-move-right {
    
    0% {
        transform: translateX(0);
    }
    
    100% {
    transform: translateX(30px);
    }
}
@keyframes loader-jump {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(10px, -10px);
    }
    20% {
        transform: translate(20px, 10px);
    }
    30% {
        transform: translate(30px, -50px);
    }
    70% {
        transform: translate(-150px, -50px);
    }
    80% {
        transform: translate(-140px, 10px);
    }
    90% {
        transform: translate(-130px, -10px);
    }
    100% {
        transform: translate(-120px, 0);
    }
}

// create circular shapes on the site
.shapes {
    .circle {
        border-radius: 50%;
        $colors: color.adjust(v.$primaryColor, $lightness: 10%, $hue: 5deg) 5%, color.adjust(v.$primaryColor, $lightness: 5%, $hue: 0deg), color.adjust(v.$primaryColor, $lightness: -5%, $hue: -5deg);
        background-image: f.gradient("linear", 45deg, $colors);

        &.xs {
            width: (11.82rem / 1.618); 
            height: (11.82rem / 1.618); 
        } 
        &.sm {
            width: 11.82rem; 
            height: 11.82rem; 
        } 
        &.nm {
            width: (11.82rem * 1.618); 
            height: (11.82rem * 1.618); 
        } 
        &.lg {
            width: (11.82rem * 1.618 * 1.618); 
            height: (11.82rem * 1.618 * 1.618); 
        } 
        &.xl {
            width: f.fontDynSize(650, 1350, 200, (118.2 * 1.618 * 1.618 * 1.618)); 
            height: f.fontDynSize(650, 1350, 200, (118.2 * 1.618 * 1.618 * 1.618)); 
        } 
        &.xxl {
            width: (11.82rem * 1.618 * 1.618 * 1.618 * 1.618); 
            height: (11.82rem * 1.618 * 1.618 * 1.618 * 1.618); 
        } 
        &.secondary {
            $colors: color.adjust(v.$secondaryColor, $lightness: 25%, $hue: -10deg) 5%, color.adjust(v.$secondaryColor, $lightness: 10%, $hue: -5deg), color.adjust(v.$secondaryColor, $lightness: -5%, $hue: 5deg);
            background-image: f.gradient("linear", 45deg, $colors);
        }
    }
}

// svg-images (for all svg images)
.svg-image {
    width: 100%;
}
.shadow-fg {
    @include m.compatible(filter, drop-shadow(f.shadows("figure-nm", v.$textColor, v.$opacityLg)));
    &.primary {
        @include m.compatible(filter, drop-shadow(f.shadows("figure-nm", v.$primaryColor, v.$opacityLg)));
    }
    &.secondary {
        @include m.compatible(filter, drop-shadow(f.shadows("figure-nm", v.$secondaryColor, v.$opacityLg)));
    }
    &.cta {
        @include m.compatible(filter, drop-shadow(f.shadows("figure-nm", v.$ctaColor, v.$opacityLg)));
    }

    &.sm {
        @include m.compatible(filter, drop-shadow(f.shadows("figure-sm", v.$textColor, v.$opacityLg)));
        .primary {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-sm", v.$primaryColor, v.$opacityLg)));
        }
        .secondary {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-sm", v.$secondaryColor, v.$opacityLg)));
        }
        .cta {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-sm", v.$secondaryColor, v.$opacityLg)));
        }
    }
    &.lg {
        @include m.compatible(filter, drop-shadow(f.shadows("figure-lg", v.$textColor, v.$opacityLg)));
        .primary {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-lg", v.$primaryColor, v.$opacityLg)));
        }
        .secondary {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-lg", v.$secondaryColor, v.$opacityLg)));
        }
        .cta {
            @include m.compatible(filter, drop-shadow(f.shadows("figure-lg", v.$secondaryColor, v.$opacityLg)));
        }
    }
}

#svg-images {
    & .border {
        fill: v.$ctaColor;
    }
}
// socials 
.social {
    list-style: none;
}

// div-shapes for mugshots
div.mugshot {
    border-radius: v.$cornerCircle;
    height: f.fontDynSize(768, 1920, 120, 150); 
    width: f.fontDynSize(768, 1920, 120, 150);
    border: solid v.$ctaColor 0.5rem;
    @include m.responsive("<", 576px){
        height: f.fontDynSize(412, 576, 115, 135); 
        width: f.fontDynSize(412, 576, 115, 135);
        border: solid v.$ctaColor f.fontDynSize(412, 1920, 3.75, 5);
    }
}
// navigation menu
nav#nav-web{
    box-shadow: 5px 0px 5px color.adjust(v.$secondaryColor, $blackness: 30%, $alpha: v.$opacityXl);
}

// blur effect for navigation top and bottom
nav#nav-web::before, nav#nav-mobile::before, nav#nav-mobile-links::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -3;
    $colors: v.$secondaryLight, color.adjust(v.$secondaryColor, $lightness: 25%, $hue: 0.5deg);
    background-image: f.gradient("linear", 135deg, $colors);
    
    
    // if supports backdrop filter then else then ignore 
    @supports (backdrop-filter: blur(1rem)){
        @include m.compatible(backdrop-filter, blur(1rem));
        $colors: color.adjust(v.$secondaryLight, $alpha: v.$opacitySm), color.adjust(v.$secondaryColor, $lightness: 25%, $hue: 0.5deg, $alpha: v.$opacitySm);
        background-image: f.gradient("linear", 135deg, $colors);
        // background-image: none; 
    }
}

// nav items and logo web
.logo {
    flex: 1 35%;
    @include m.responsive("<", 1036px){
        flex: 0.1;
    }
    img {
        width: 5.535vw;
        min-width: 70px;
        max-width: 86px;
        padding: f.fontDynSize(412, 1024, 0.615, 1);
    }
    a {
        display: block;
        font-family: none;
        font-weight: none;
        font-size: none;
    }
}

.nav-links {
    // nav-items
    list-style: none;
    & li a {
        color: v.$textColor;
    } 
    & li:not(:nth-child(1)) a:hover {
        color: v.$primaryColor;
    }   

    & li:not(:nth-child(1)) a::after {
        transition: all ease-in-out 0.15s;
    }
    & li:not(:nth-child(1)) a {
        padding: 0.5rem;
    }
    & li:not(:nth-child(1)) a::after, li:not(:nth-child(1)) a::before {
        display: block;
        position: relative;
        content: '';
        top: 5px;
        width: 0%;
        height: 2px;
    }
    & li:not(:nth-child(1)):hover a::after {
        width: 100%;
        background-color: v.$primaryColor;
    }
}

// mobile navigation bottom
nav#nav-mobile {
    box-shadow: -5px 0px 5px color.adjust(v.$secondaryColor, $blackness: 30%, $alpha: v.$opacityXl);
    transition: all 0.33s ease-in-out;
    transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);

    // hamburger
    // hamburger animate burger
    .burger {
        width: 3.5rem;
        height: 3.5rem;
        border: 0.1rem solid v.$textColor;
        cursor: pointer;
        transition: all .33s ease-in-out;
        &.animate-burger-border {
            border-color: v.$primaryColor;
        }
        .burger-top, .burger-bottom, .burger-middle {
            width: 65%;
            height: 0.25rem;
            transition: all 0.33s ease-in-out;
            transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
            border-radius: 5rem;
            position: relative;

        }
        .burger-top {
            background-color: v.$ctaColor;
            transform: translateY(1rem);

            &.animate-top{
                transform: translateY(0.125rem) rotate(135deg);
            }
        }
        .burger-middle {
            background-color: v.$secondaryColor;

            &.hide {
                opacity: 0;
                display: none;
            }
        }
        .burger-bottom {
            background-color: v.$primaryColor;
            transform: translateY(-1rem);
            &.animate-bottom{
                transform: translateY(-0.125rem) rotate(45deg);
            }
        }
    }
}

// nav links bottom
nav#nav-mobile-links {
    .nav-links-bottom {
        list-style: none;
        opacity: 0;
        transition: all 0.33s ease-in-out;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
        & li {
            text-align: center;

            & a {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 1rem 0;
                color: v.$textColor;

                &:hover {
                    background-color: color.adjust(v.$ctaColor, $blackness: 15%, $alpha: v.$opacityXl);
                    color: color.adjust(v.$primaryColor, $blackness: 15%);
                }
                &:active {
                    box-shadow: 1.5px 1.5px 3px color.adjust(v.$secondaryColor, $blackness: 15%, $alpha: v.$opacityXl);
                    background-color: color.adjust(v.$ctaColor, $blackness: 15%, $alpha: v.$opacityXxl);
                }
            }   
        }
        &.animate {
            opacity: 1;
            transform: translateY(-5.5rem);
        }
    }
    &::before {
        transition: all 0.33s ease-in-out;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
    }
}

// background images 
.bg-image {
    width: 100%; 
    height: 100%; 
    position: absolute;
    top: 0; 
    @include m.compatible(filter, blur(0.25rem)); 
}

// overlays
.overlay {
    background-color: color.adjust(v.$primaryColor, $alpha: v.$opacityLg, $blackness: 75%);
}

// shapes
.shapes {
    object {
        &.mobile, &.medium {
            display: none;
        }
        @include m.responsive("<", 768px){
            &.large, &.mobile {
                display: none;
            }
            &.medium {
                display: inherit;
            }
        }
        @include m.responsive("<", 576px){
            &.large, &.medium  {
                display: none;
            }
            &.mobile {
                display: inherit;
            }
        }
    }
}


// If browser supports backdrop filter then use that
@supports(backdrop-filter: blur(0.25rem)){

    // background images 
    .bg-image {
        @include m.compatible(filter, none);
    }

    // section overlays
    .overlay {
        @include m.compatible(backdrop-filter, blur(0.25rem));
    }
}



// -------------------- index page -------------------------// 

// -- hero section --     
#index-hero { // background

    & .bg-image {
        @include m.background(initial, "/static/images/home/jpeg_web/compressed/teach_2.jpg", center, cover);
        @include m.responsive("<", 412px){
            background-position: 35%; 
        }
    }


    // arrows and hover animation
    .arrows {
        transform: translateY(2rem);
        overflow-wrap: break-word;
        transition: all 0.33s ease-in-out;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
        a img {
            width: f.fontDynSize(412, 1040, 35, 50);
            @include m.shadow("drop-shadow", none, 7px, 5px, 3px, v.$textColor);
            @include m.responsive("<", 412px){    
            @include m.shadow("drop-shadow", none, 4px, 4px, 3px, v.$textColor);
            }
        }
        & .upper-arrow {
            transform: translateY(0rem);
        }  
        & .lower-arrow {
            transform: translateY(-1rem);
            transition: all 0.33s ease-in-out;
            transition-timing-function: cubic-bezier(0.5, 0.5, 0.7, 1);
        }
        &:hover {
            transform: translateY(5rem);
            & .lower-arrow {
                transform: translateY(1rem);
            }
        } 
    }
}

// -- section s one --  
#index-s-one {
    
    // all shapes in sections
    & .shapes {    
        // circles 
        & .circles {
            & > .circle {
                &:nth-child(3){ // big circle with image   
                    @include m.background(initial, "/static/images/home/jpeg_web/compressed/teach_6.jpg", center, cover);
                    border: solid v.$borderNm v.$primaryColor;
                    @include m.compatible(filter, drop-shadow(f.shadows("figure-nm", v.$textColor, v.$opacityLg)));
                    @include m.responsive("<", 768px) {
                        width: f.fontDynSize(576, 768, 200, (118.2 * 1.618 * 1.618 * 1.618)); 
                        height: f.fontDynSize(576, 768, 200, (118.2 * 1.618 * 1.618 * 1.618));
                    }
                }
        
                &:nth-child(1){ // top-right circle
                    @include m.responsive("<", 1350px){ // make circle big at smaller screen sizes
                        width: (11.82rem * 1.618 * 1.618); 
                        height: (11.82rem * 1.618 * 1.618); 
                    }
                }
            }
        }
    }
}

// -- section s two --  
#index-s-two {
    
    & .bg-image {
        @include m.background(initial, "/static/images/home/jpeg_web/compressed/travel_5.jpg", center, cover);
        @include m.responsive("<", 412px){
            @include m.background(initial, "/static/images/home/jpeg_mobile/travel_2.jpg", center, cover);
        }    
    }
}

// -- section s three --
#index-s-three {
 
    // some textbox
    & div.text-box {
        width: 100%;
        height: 50%;
        @include m.responsive("<", 768px){
            height: 100%;
        }
        & > div.body {
            height: 100%;
            & .team-members {
                list-style: none;
                & > li.member {
                    display: inherit;
                    padding-bottom: f.fontDynSize(576, 768, 25, 100);
                    & > a {
                        width: 100%;
                        & h4.title {
                            padding: 1rem 0 0 0;
                        }
                    }
                    &:nth-child(1) > a div.mugshot { // director
                        @include m.background(initial, "/static/images/home/pngs/team/compressed/hong.png", center, cover);
                    }
                    &:nth-child(2) > a div.mugshot { // managing director
                        @include m.background(initial, "/static/images/home/pngs/team/compressed/ly.png", center, cover);
                    }
                    &:nth-child(3) > a div.mugshot { // marketing
                        @include m.background(initial, "/static/images/home/pngs/team/compressed/eva.png", center, cover);
                    }
                    &:nth-child(4) > a div.mugshot { // IT
                        @include m.background(initial, "/static/images/home/pngs/team/compressed/fernando.png", center, cover);
                    }
                }
            }
        }
    }
}

// -- section s four --
#index-s-four {

    // set bg image
    & .bg-image {
        @include m.background(initial, "/static/images/home/jpeg_web/compressed/experience_4.jpg", center, cover);
        @include m.responsive("<", 1080px){
            background-position: 70%;
        }
        @include m.responsive("<", 768px){
            background-position: 85%;
        }   
    }
}

// -- section s five --
#index-s-five {

    & .shapes {
        // shapes   
        & object {
            &:nth-child(2){ // hide image for larger screens
                display: none;
            }
            @include m.responsive("<", 1440px){ // show image for smaller than 1440px
                &:nth-child(2) {
                    display: inherit;
                }
                &.large {
                    display: none;
                }
            }
            @include m.responsive("<", 768px){ // hide for smaller than 768px
                &:nth-child(2) {
                    display: none;
                }
            }
            @include m.responsive("<", 576px){ // hide for smaller than 576px
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    & .wrapper {
        height: 100%;
        .text-box {
            &.reviews-section{
                & .body {
                    width: 100%;    
                    & ul.reviews {
                        list-style: none;
                        & li > div {
                            z-index: 15;
                            position: relative;
                            display: grid;
                            justify-items: center;
                            width: 100%;
                            height: 100%;
                            & > div.mugshot {
                                z-index: 16;
                            }
                            & .hover-box {
                                visibility: collapse; 
                                position: absolute;
                                opacity: 0;
                                top: 50%;
                                left: 0;
                                height: 0%;
                                transition: opacity 0.33s ease-in;
                                & blockquote {
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    max-height: 35vh;
                                    padding-top: 9rem;
                                    background-color: v.$secondaryLighter;
                                    border-radius: v.$cornerNm;
                                    overflow-y: scroll;
                                    -ms-overflow-style: none;
                                    scrollbar-width: none;
                                    i, p {
                                        font-size: f.fontDynSize(412, 1040, 11.85, 15.85);
                                        color: color.adjust(v.$textColor, $lightness: 30%);  
                                    }
                                    // hide scrollbar
                                    &::-webkit-scrollbar {
                                        display: none;
                                    }
                                    span {
                                        padding: 0rem 2.5rem;
                                    }
                                }
                            }
                            & div.mugshot:hover + .hover-box, .hover-box:hover{
                                visibility: initial;
                                opacity: 1;
                            }
                        }
                        & li:first-child div { // Anne
                            & > div.mugshot { 
                                @include m.background(initial, "/static/images/home/pngs/reviews/compressed/anne.png", center, cover);
                            }
                            & .hover-box {
                                z-index: 14;
                            }
                        }   
                        & li:nth-child(2) div { // Tobi
                            & > div.mugshot { 
                                @include m.background(initial, "/static/images/home/pngs/reviews/compressed/tobias.png", center, cover);
                            }
                            & .hover-box {
                                z-index: 14;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 14;
                                & .hover-box {
                                    z-index: 13;
                                }
                            }
                        }   
                        & li:nth-child(3) div { // Eva
                            & > div.mugshot { 
                                @include m.background(initial, "/static/images/home/pngs/reviews/compressed/eva.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 13;
                                & .hover-box {
                                    z-index: 12;
                                }
                            }
                            @include m.responsive("<", 412px){
                                z-index: 12;
                                & .hover-box {
                                    z-index: 11;
                                }
                            }
                        }   
                        & li:nth-child(4) div { // Dani
                            z-index: 13;
                            & > div.mugshot { 
                                @include m.background(initial, "/static/images/home/pngs/reviews/compressed/daniella.png", center, cover);
                            }
                            @include m.responsive("<", 412px){
                                z-index: 11;

                                & .hover-box {
                                    z-index: 10;
                                }
                            }

                        }   
                        & li:nth-child(5) div { // Chuck
                            z-index: 13;
                            & > div.mugshot { 
                            @include m.background(initial, "/static/images/home/pngs/reviews/compressed/chuck.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 12;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 10;

                                & .hover-box {
                                    z-index: 9;
                                }
                            }
                        }   
                        & li:nth-child(6) div { // Johana
                            z-index: 13;
                            & > div.mugshot { 
                            @include m.background(initial, "/static/images/home/pngs/reviews/compressed/johana.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 12;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 9;

                                & .hover-box {
                                    z-index: 8;
                                }
                            }
                        }   
                        & li:nth-child(7) div { // Karen
                            z-index: 12;
                            & > div.mugshot { 
                            @include m.background(initial, "/static/images/home/pngs/reviews/compressed/karen.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 11;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 8;

                                & .hover-box {
                                    z-index: 7;
                                }
                            }
                        }   
                        & li:nth-child(8) div { // Marion
                            z-index: 12;
                            & > div.mugshot { 
                            @include m.background(initial, "/static/images/home/pngs/reviews/compressed/marion.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 11;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 7;

                                & .hover-box {
                                    z-index: 6;
                                }
                            }
                        }   
                        & li:nth-child(9) div { // Oksana
                            z-index: 12;
                            & > div.mugshot { 
                            @include m.background(initial, "/static/images/home/pngs/reviews/compressed/oksana.png", center, cover);
                            }
                            @include m.responsive("<", 768px){
                                z-index: 10;
                            }
                            @include m.responsive("<", 412px){
                                z-index: 6;

                                & .hover-box {
                                    z-index: 5;
                                }
                            }
                        }
                        @include m.responsive("<", 576px){
                            & .review {
                                width: 100%;
                            }
                        } 
                    }
                }
            }
        }
    }
}

// ----------------------Gallery Page -------------------- //

// -- section s four --
#gallery-hero {
    height: 75vh;

    // set bg image
    & .bg-image {
        @include m.background(initial, "/static/images/gallery/jpeg_web/compressed/experience_1.jpg", center, cover);
        @include m.responsive("<", 1080px){
            background-position: 70%;
        }
        @include m.responsive("<", 768px){
            background-position: 85%;
        }   
    }
}

#gallery-s-gallery {
    // margin-top: -20rem;
    $colors: v.$secondaryLight, color.adjust(v.$secondaryColor, $lightness: 25%, $hue: 0.5deg);
    background-image: f.gradient("linear", 135deg, $colors);
    // & .shapes {
    //     position: relative; 
    //     top: -5rem;
    //     background-color:  color.adjust(v.$secondaryColor, $lightness: 25%, $hue: 0.5deg);
    //     border-radius: 15% 15% 0 0;
    //     & .box {
    //         height: 5rem;
    //         width: 100%;
    //     }
    // }
    @include m.shadow("drop-shadow", none, 0px, -3px, 5px, color.adjust(v.$secondaryColor, $alpha: v.$opacityXl)); 
    margin-top: -10rem; 
    & .wrapper {
        & a {
            & img {
                border: solid v.$primaryColor 0.5rem;
                @include m.responsive("<", 576px){
                    border: solid v.$primaryColor f.fontDynSize(412, 1920, 3.75, 5);
                }
            }
        }
    }
}


// -- footer --
footer {
    
    @include m.shadow("drop-shadow", none, 0px, -3px, 5px, color.adjust(v.$ctaColor, $alpha: v.$opacityXl));  
    .wrapper {
        & .footer-links {
            list-style: none;
            & li > a {               
                &:hover {
                    color: color.adjust(v.$primaryColor, $lightness: 10%);
                }
                &:active, &:focus {
                    outline: none; 
                    color: color.adjust(v.$primaryColor, $blackness: 20%);
                }
            }
        }
    }
    @include m.responsive("<", 576px){
        display: none; 
    }
}