@use "variables" as v;
@use "functions" as f;

.gradient {
    background-image: f.gradient("radial", "130deg", (v.$primaryColor + " 150%", v.$secondaryColor + " 180%"));
}


img {
    width:45%;
    clip-path: url(#myclippath);
}


.image {
    width: 250px;
    height: 250px;
    // overflow: hidden;
}